&__body {
	display: flex;
	justify-content: space-between;

	&--slider,
	&--info {
		padding: 20px;
		border-radius: 5px;
		background: $bgSecondary;
	}

	// Slider
	&--slider {
		width: 40%;

		.swiper-container {
			width: 100%;
			height: 300px;
			margin-left: auto;
			margin-right: auto;
		}

		.swiper-slide {
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

		.gallery-top {
			height: 80%;
			width: 100%;
		}

		.gallery-thumbs {
			height: 20%;
			box-sizing: border-box;
			padding: 10px 0;
			cursor: pointer;

			&:focus,
			&:active {
				cursor: grab;
			}

			.swiper-slide {
				width: 25%;
				height: 100%;
				opacity: 0.4;

				&-thumb-active {
					opacity: 1;
				}
			}
		}
	}

	// Info
	&--info {
		width: 59%;
		@include flex-column;
		justify-content: space-around;

		.info__primary {
			// background: rgba(olive, 0.5);
			display: grid;
			width: 100%;
			grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
			grid-template-rows: repeat(auto-fill, 1fr);
			align-items: center;
			grid-gap: 20px 25px;

			&--item {
				@include flex-column;
				padding-left: 10px;

				.item-title {
					font-size: 18px;
					font-family: leftonade;
					text-transform: uppercase;
					color: #525252;
				}

				.item-value {
					font-size: 19px;
					color: $bgSecondary;
					font-weight: 500;
				}
			}
		}

		.info__is-open {
			padding: 10px;
			margin-top: 1em;
			h3 {
				text-transform: uppercase;
				font-weight: 400;
				color: $accent;
				font-size: 15px;
			}
		}

		hr {
			border-top: 1px solid rgba($gray, 0.3);
		}

		.info__rels {
			&--title {
				color: $gray;
				font-weight: 300;
				font-family: bitter;
				text-transform: uppercase;
				font-size: 18px;
				padding: 5px;
				margin-bottom: 15px;
			}

			&--list {
				@include flex-column;

				li {
					font-size: 18px;
					padding: 5px;

					&:not(:last-child) {
						margin-bottom: 15px;
					}

					.info-title {
						font-weight: 400;
						color: $white;
					}

					.info-link {
						text-decoration: underline;
						font-weight: 300;
						color: $blue;
						transition: all 0.15s ease;

						&:hover {
							text-decoration: none;
							color: lighten($blue, 15%);
						}
					}

					.info-na {
						color: $gray;
						font-weight: 300;
					}
				}
			}
		}
	}
}
