&__header {
	@include flex-between(row);
	position: sticky;
	overflow: hidden;

	@import './../../../home/includes/bubbles';

	& > h1 {
		margin-left: 20px;
		font-family: leftonade;
		font-size: 2em;
		color: $accentSecondary;
	}

	& > button {
		margin-right: 20px;
		background: transparent;
		border: 2px solid $accentSecondary;
		border-radius: $bradius;
		color: $accentSecondary;
		padding: 10px 15px;
		font-size: 1em;
		transition: border $transition, color $transition;

		&:hover {
			border-color: $accent;
			color: $accent;
		}
	}
}
