.settings {
	&__index {
		&--list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;

			// inputs
			.form-group {
				.form-control {
					margin: 20px 0;
					width: 100%;
				}

				button {
					width: 100%;
				}
			}

			// end inputs

			& > ul {
				width: 47%;
				@include flex-column;
				padding: 15px;
				background: $black01;

				h3 {
					color: $blueMain;
					font-weight: 400;
					margin-bottom: 20px;
					padding: 0 10px;
				}

				li {
					display: block;
					color: $white;
					padding: 10px;

					&:hover {
						background: $black01;
					}

					button {
						margin-left: 7px;
						outline: none;
						background: rgba(red, 0.1);
						color: $white04;
						padding: 3px 5px;
						font-weight: 300;
						font-size: 15px;

						&:hover {
							color: $white09;
							background: rgba(red, 0.15);
						}
					}
				}
			}
		}
	}

	// Alerts
	&__alerts-container {
		margin-bottom: 25px;
		width: 50%;
		margin: 0 auto 25px;
	}
}
