.hero {
	position: relative;
	width: 100vw;
	height: 88vh;
	overflow: hidden;
	padding-top: 13rem;

	.container {
		height: 100%;
	}

	// morphing svg
	.scene {
		@include absolute-stretch(absolute);
		z-index: -1;

		path {
			fill: rgba(white, 0.05);
		}
	}

	&-inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		z-index: 2;
		padding-bottom: 10rem;
	}

	&-title {
		color: white;
		font-family: 'Young Serif';
		font-weight: 600;
		font-size: 4rem;
	}

	&-desc {
		font-size: 20px;
		color: #777;
	}
}
