// configs
@import './helpers/mixins/mixins';
@import './helpers/variables/vars';

// admin styles
@import './components/admin/pomeranians';
@import './components/admin/card';

/* SORT LATER */

// buttons
.btn {
	@include flex-center;
	padding: 0.45rem 1.7rem;
	font-weight: 500;
	font-size: 1.1rem;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
	opacity: 0.8;
	transform: scale(1);
	@include simple_transition(all 0.2s ease-in);

	&-next {
		background: rgb(22, 163, 74);
		color: white;
	}

	&-cta {
		background: rgb(255, 213, 79);
		color: #262626;
	}

	&:hover {
		opacity: 1;
	}

	&:active {
		transform: scale(0.95);
		@include simple_transition(all 0.1s ease);
	}
}

// form elements
textarea {
	margin-top: 0.3rem;
	padding: 7px 10px;
	color: #f5f5f5;
	background: #262626;
	border-radius: 5px;
	border: 1px solid #525252;

	&:focus {
		border-color: #a3a3a3;
		// color: white;
	}
}

label {
	color: #a3a3a3;
	font-size: 1.125rem;

	.input-value {
		display: inline-block;
		margin-left: 3px;
		color: rgb(255, 213, 79);
	}
}

input {
	margin-top: 0.3rem;
	padding: 7px 10px;
	color: #f5f5f5;
	@include simple_transition(all 0.15s ease-in);

	&[type='text'],
	&[type='number'],
	&[type='date'] {
		background: #262626;
		border-radius: 5px;
		border: 1px solid #525252;

		&:focus {
			border-color: #a3a3a3;
		}
	}

	&[type='radio'] {
		display: none;

		& + label {
			position: relative;

			&::before {
				content: '';
				display: inline-block;
				width: 18px;
				height: 18px;
				margin: -6px 4px 0 0;
				vertical-align: middle;
				background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px
					top no-repeat;
				cursor: pointer;
			}
		}

		&:checked + label::before {
			background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px
				top no-repeat;
		}
	}

	&[type='checkbox'] {
		display: none;

		& + label {
			position: relative;

			&::before {
				content: '';
				display: inline-block;
				width: 19px;
				height: 19px;
				margin: -6px 4px 0 0;
				vertical-align: middle;
				background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png)
					left top no-repeat;
				cursor: pointer;
			}
		}

		&:checked + label::before {
			background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px
				top no-repeat;
		}
	}
}

div.select {
	position: relative;

	& > button {
		position: relative;
		width: 100%;
		@include flex-between;
		padding: 0.5rem;
		border-radius: 5px;
		background: #262626;
		color: #f5f5f5;
		border: 1px solid #525252;
		@include simple_transition(all 0.15s ease-in);

		svg {
			width: 1.25rem;
			height: 1.25rem;
		}

		&.open {
			color: white;
			background: #222;
			border-color: #a3a3a3;
		}
	}

	& > ul {
		position: absolute;
		top: 100%;
		width: 100%;
		@include flex-column;
		margin-top: 0.5rem;
		z-index: 42;
		border-radius: 5px;
		background: #222;

		& > li {
			padding: 0.5rem 0.75rem;
			cursor: pointer;
			color: rgb(212, 212, 212);

			&:not(.empty):hover {
				background: rgba(white, 0.05);
				color: white;
			}

			&.empty {
				cursor: auto;
			}
		}
	}
}

// Form sections
.form {
	&-section {
		display: grid;
		gap: 1.5rem;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-auto-flow: dense;
		padding: 1.4rem 0;
		border-bottom: 1px solid #525252;

		&--block {
			display: block;
		}

		@include lg {
			textarea {
				grid-column: span 2;
			}
		}

		// grid-template-columns: repeat(auto-fill, minmax(200px, 300px));

		&:first-of-type {
			padding-top: 0;
		}

		&:last-of-type {
			padding-bottom: 0;
			border-bottom: none;
		}
	}

	&-group {
		@include flex-column;
	}

	// create new pom form
	&.form-create {
		@include flex-column;
		padding: 0.5rem;

		@include sm {
			padding: 1.4rem;
		}
	}

	// super specific
	.car-wrapper {
		& > label {
			display: inline-block;
			margin-bottom: 0.4rem;
		}
	}
}

// handling errors
.errors-list {
	@include flex-column;
	background: #ffcdd2;
	border-radius: 5px;
	padding: 0.5rem;
	// @include space-y(0.5rem);

	li {
		padding: 0.4rem;
		font-weight: 500;
		color: #8e0000;
	}
}

/* Alert component */
.alert {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1.5rem;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	background: white;

	&-container {
		position: fixed;
		top: 5.5rem;
		right: 9rem;
		width: 25rem;
		display: flex;
		flex-direction: column;
		z-index: 42;
	}

	&-success {
		.alert-icon {
			background: green;
		}
	}

	&-info {
		.alert-icon {
			background: blue;
		}
	}

	&-error {
		.alert-icon {
			background: red;
		}
	}

	&-warning {
		.alert-icon {
			background: orange;
		}
	}

	// icon
	&-icon {
		position: absolute;
		left: -1px;
		top: -1px;
		bottom: -1px;
		width: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 0.7rem;

		svg {
			width: 1.5rem;
			height: 1.5rem;
			color: white;
		}
	}

	// text
	&-text {
		display: inline-block;
		padding-left: 3rem;
		font-weight: 500;
		color: #333;
	}

	// hide alert
	&-close {
		position: absolute;
		right: 5px;
		top: 5px;
		padding: 5px;
		border-radius: 50%;
		color: #131313;

		@include simple_transition(background 0.2s ease-in);

		&:hover {
			background: rgba(black, 0.05);
		}

		&:active {
			background: rgba(black, 0.15);
		}

		svg {
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	// hide transition
	&.hide {
		$easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);

		transform: translateY(-50px);
		opacity: 0;
		will-change: transform, opacity;

		@include transition(transform, opacity, 0.3s $easeOutQuart);

		// -webkit-transition: transform 0.2s ease-in;
		// -moz-transition: transform 0.2s ease-in;
		// -ms-transition: transform 0.2s ease-in;
		// -o-transition: transform 0.2s ease-in;
		// transition: transform 0.2s ease-in;
	}

	// show transition
	&.show {
	}
}

// images upload form
#image-form {
	& > .btn {
		margin-bottom: 2rem;
	}

	form {
		@include space-y(1rem);

		button {
			margin-top: 1rem;
		}
	}

	// preview uploaded images
	.images {
		&-preview {
			width: 100%;
			height: 100%;
			display: grid;
			gap: 1rem;
			grid-template: repeat(auto-fit, minmax(150px, 250px)) / repeat(
					auto-fill,
					minmax(200px, 1fr)
				);
			padding: 2rem 0.5rem;
			border-top: 1px solid rgba(white, 0.3);
			border-bottom: 1px solid rgba(white, 0.3);

			&__item {
				position: relative;
			}

			&__image {
				width: 100%;
				height: 100%;
				border-radius: 3px;
				object-fit: cover;
				object-position: center;
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
			}

			// cancel image
			&__cancel {
				$buttonSize: 2rem;

				position: absolute;
				padding: 0.2rem;
				right: -($buttonSize / 2.3);
				top: -($buttonSize / 2.3);
				@include flex-center;
				width: $buttonSize;
				height: $buttonSize;
				border-radius: 100%;
				color: #c11919;
				background: transparent;
				@include simple_transition(background 0.2s ease);

				&:hover {
					background: #232323;
					// color: white;
				}
			}
		}
	}
}
