*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	max-height: 100%;
}

body {
	font-family: "system";
	font-weight: 300;
	font-size: 18px;
}

// alpine hide
[x-cloak] {
	display: none;
}

/*
this class used for reducing 
brightness when sidebar expanded
*/
.darken {
	filter: brightness(20%);
}

.grid {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;

	.header {
		width: 100%;
		height: 55px;
		background: $bg;
		padding: 0 200px;
		@include flex-between(row);
		box-shadow: 0 0 5px 0 $blackMain;
		z-index: $medium;

		&__left {
			@include flex-center(row);

			a,
			button {
				font-size: 17px;
				color: $grayMain;
				transition: 0.15s;

				&:hover {
					color: white;
				}

				&.burger {
					font-size: 23px;
					margin-right: 10px;
					background: transparent;

					&:focus,
					&:active {
						box-shadow: none;
					}

					i {
						pointer-events: none;
					}
				}
			}
		}

		&__right {
			a {
				color: lighten(black, 50%);
				font-size: 18px;
				padding: 10px 15px;
				border-radius: 5px;
				text-decoration: none;

				&:hover,
				&.active {
					color: white;
				}
			}
		}
	}

	.main {
		width: 100%;
		height: 100%;
		padding: 40px 200px;
		overflow-y: scroll;
		background: $bgLighter;
	}

	.sidebar {
		box-shadow: 0 1px 10px 1px black;
		background: $bg;

		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 20vw;
		z-index: $high;

		left: -20vw;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease;

		&.show {
			left: 0;
			opacity: 1;
			visibility: visible;
			transition: all 0.25s ease;
		}

		&__close {
			position: absolute;
			right: 5px;
			top: 5px;
			display: block;
			background: transparent;
			color: white;
			font-size: 30px;
			transition: transform 0.25s;

			&:hover {
				transform: rotate(125deg);
			}
		}

		&__header {
			@include flex-center(column);
			position: relative;
			padding: 15px;
			height: 40%;

			background-color: black;
			background-image: url("/images/logo.jpg");
			background-size: 200px auto;
			background-position: center;
			background-repeat: no-repeat;
		}

		&__nav {
			height: 60%;
			display: flex;
			flex-direction: column;
			padding: 20px 15px;

			li {
				width: 100%;

				a {
					display: block;
					width: 100%;
					padding: 10px 15px 10px 15px;
					color: $grayMain;
					text-decoration: none;
					border-radius: 5px;
					transition: all 0.15s ease;
					border: 1px solid transparent;
					margin-bottom: 5px;

					i {
						margin-right: 7px;
					}

					&:hover,
					&.active {
						color: white;
						border: 1px solid rgba(white, 0.3);
					}
				}
			}
		}
	}
}

//////////////////////////////////
// Little things
// TODO: organize these things

// svgs for show and index pages
.gender-svgs {
	width: 20px;
	height: 20px;
	margin-bottom: 2px;
}

// alers
.alert-main {
	position: relative;
	align-self: flex-start;
	display: flex;
	width: 100%;
	margin: 15px 0 15px 0;
	color: white;
	background: $grayMain;

	&.success {
		background: rgba($greenMain, 0.5);
	}

	&.error {
		background: rgba(#ea4335, 0.5);
	}

	span {
		width: 100%;
	}

	a {
		position: absolute;
		right: 3px;
		top: 0;
		color: white;

		&:hover {
			color: $blackMain;
		}

		i {
			pointer-events: none;
		}
	}
}
