@charset "UTF-8";
/* CSS reset */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

ins {
  background-color: #ff9;
  color: #000;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/**
 * Effects
 */
li {
  list-style: none;
  display: inline;
}

a,
a:focus,
a:visited {
  text-decoration: none;
}

button {
  border: none;
  box-shadow: none;
  padding: 7px 12px;
  cursor: pointer;
}

.is_fillable {
  position: relative;
}
.is_fillable::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
  width: 0%;
  overflow: hidden;
}
.is_fillable:hover::before {
  width: 100%;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.btn-ripple {
  position: relative;
  overflow: hidden;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  -webkit-animation: ripple 600ms linear;
          animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgba(153, 153, 153, 0.5);
  -webkit-text-fill-color: white;
  box-shadow: 0 0 0px 1000px #2b2c2e inset;
  -webkit-box-shadow: 0 0 0px 1000px #2b2c2e inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

h1,
h2,
h3 {
  font-weight: 100;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  line-height: 1.6;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 0.7px;
}

@font-face {
  font-family: "system";
  font-style: normal;
  font-weight: 300;
  src: local(".SFNS-Light"), local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: "system";
  font-style: italic;
  font-weight: 300;
  src: local(".SFNS-LightItalic"), local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: "system";
  font-style: normal;
  font-weight: 400;
  src: local(".SFNS-Regular"), local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: "system";
  font-style: italic;
  font-weight: 400;
  src: local(".SFNS-Italic"), local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"), local("Roboto-Italic"), local("DroidSans"), local("Tahoma");
}
@font-face {
  font-family: "system";
  font-style: normal;
  font-weight: 500;
  src: local(".SFNS-Medium"), local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}
@font-face {
  font-family: "system";
  font-style: italic;
  font-weight: 500;
  src: local(".SFNS-MediumItalic"), local(".SFNSText-MediumItalic"), local(".HelveticaNeueDeskInterface-MediumItalicP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"), local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}
@font-face {
  font-family: "system";
  font-style: normal;
  font-weight: 700;
  src: local(".SFNS-Bold"), local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold");
}
@font-face {
  font-family: "system";
  font-style: italic;
  font-weight: 700;
  src: local(".SFNS-BoldItalic"), local(".SFNSText-BoldItalic"), local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"), local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold");
}
@font-face {
  font-family: "argesta";
  src: url("/fonts/Argesta/ArgestaDisplay.otf");
}
@font-face {
  font-family: "manege";
  src: url("/fonts/Manege/Manege.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.main {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "system";
  font-weight: 400;
  font-size: 100%;
  overflow-x: hidden !important;
  overflow-y: scroll;
  background: #272727;
}
body.left-arr {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23fff" height="35" viewBox="0 0 476.213 476.213" width="35"><polygon points="476.213,223.106 57.426,223.106 91.819,188.713 70.606,167.5 0,238.106 70.606,308.713 91.819,287.5 57.426,253.106 476.213,253.106 "/></svg>'), auto;
}
body.right-arr {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23fff" height="35" viewBox="0 0 476.213 476.213" width="35"><polygon points="405.606,167.5 384.394,188.713 418.787,223.106 0,223.106 0,253.106 418.787,253.106 384.394,287.5 405.606,308.713 476.213,238.106 "/></svg>'), auto;
}
body.no-arr {
  cursor: auto;
}
body::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.9);
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
}
body.body-admin {
  background: rgba(0, 0, 0, 0.1);
}

.main {
  opacity: 0;
  visibility: hidden;
  position: relative;
  transition: opacity 0.5s 0.3s cubic-bezier(0.8, 0.02, 0.16, 0.99), visibility 0.3s 0.3s cubic-bezier(0.8, 0.02, 0.16, 0.99);
}
.main-loaded {
  opacity: 1;
  visibility: visible;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 40px;
}
.header__desktop {
  width: 100%;
}
.header__desktop ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.header__desktop ul li {
  display: inline-flex;
}
.header__desktop ul li:not(.enough-padding) {
  padding: 15px;
}
.header__desktop ul li .link {
  display: inline-block;
  padding: 0px 5px;
  position: relative;
  cursor: pointer;
  font-family: "argesta";
  font-size: 21px;
}
.header__desktop ul li .link-circle {
  opacity: 0;
  position: absolute;
  display: flex;
  pointer-events: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #e3f2fd;
  z-index: -1;
  box-shadow: 0 0 5px 4px #f7b900, 0 0 120px 2px #f7d801, inset 0 0 15px 4px #f7b900, inset 0 0 5px 2px #f7d801;
}
.header__desktop ul li .link-text {
  display: block;
  position: relative;
  color: #999;
  pointer-events: none;
}
.header__desktop ul li .link:hover .link-text, .header__desktop ul li .link.active .link-text {
  color: white;
  text-shadow: 2px 2px 1px black;
}
.header__desktop ul li .link:hover .link-circle, .header__desktop ul li .link.active .link-circle {
  opacity: 1;
}
.header__desktop ul li .link:active .link-text, .header__desktop ul li .link:focus .link-text {
  color: #999;
}
.header__desktop ul li .link:active .link-circle, .header__desktop ul li .link:focus .link-circle {
  opacity: 1;
  -webkit-animation: shrink 2s linear;
          animation: shrink 2s linear;
}
@-webkit-keyframes shrink {
  0% {
    width: 40px;
    height: 40px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 40px;
    height: 40px;
  }
}
@keyframes shrink {
  0% {
    width: 40px;
    height: 40px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
  100% {
    width: 40px;
    height: 40px;
  }
}
.header__desktop ul li > button {
  position: relative;
  cursor: pointer;
  padding: 7px 10px;
  margin-left: 15px;
  border-radius: 3px;
  border: 1px solid #e3f2fd;
  color: #e3f2fd;
  background: transparent;
  font-family: "argesta";
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  transition: all 0.25s ease;
}

@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInleft {
  0% {
    opacity: 0;
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes zoomReverseIn {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes zoomReverseIn {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes flipInY {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes flipInY {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
[data-animation] {
  opacity: 0;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.animations-disabled,
.animations-disabled [data-animation] {
  -webkit-animation: none !important;
          animation: none !important;
  opacity: 1 !important;
}

.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
}

.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
}

.slideInLeft {
  -webkit-animation-name: slideInleft;
          animation-name: slideInleft;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
          animation-name: slideInRight;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  animation-direction: reverse;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}

.zoomOut {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  animation-direction: reverse;
}

.zoomReverseIn {
  -webkit-animation-name: zoomReverseIn;
          animation-name: zoomReverseIn;
}

.zoomReverseOut {
  -webkit-animation-name: zoomReverseIn;
          animation-name: zoomReverseIn;
  animation-direction: reverse;
}

.flipInY {
  -webkit-animation-name: flipInY;
          animation-name: flipInY;
}

.flipOutY {
  -webkit-animation-name: flipInY;
          animation-name: flipInY;
  animation-direction: reverse;
}

.wrapper.home {
  position: relative;
  background: #101010;
  overflow: hidden;
}
.wrapper.home .section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.wrapper.home .section__inner {
  width: 100%;
  height: 100%;
}
.wrapper.home .section-header__inner {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.social_ctas {
  position: fixed;
  left: 0;
  bottom: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  z-index: 1000;
}
.social_ctas__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: all 0.2s;
  padding: 10px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  color: #e3f2fd;
}
.social_ctas__item:hover {
  background: rgba(227, 242, 253, 0.1);
  color: #92c2f2;
}
.social_ctas__item:hover svg {
  filter: grayscale(0);
}
.social_ctas__item:not(:last-child) {
  margin-right: 30px;
}
.social_ctas__item--svg {
  width: 19px;
  height: 19px;
  margin: 0 0 0 10px;
  filter: grayscale(100%);
}
.social_ctas__item.inst:hover {
  color: #ffa47d;
}

.grid {
  pointer-events: none;
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
}

.grid__item {
  position: relative;
  max-height: 350px;
  max-width: 400px;
}

.grid__item-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.pos-1 {
  grid-area: 10/1/26/7;
}

.pos-2 {
  grid-area: 1/18/9/27;
}

.pos-3 {
  grid-area: 1/36/14/42;
}

.pos-4 {
  grid-area: 13/11/32/18;
}

.pos-5 {
  grid-area: 17/32/32/38;
}

.pos-6 {
  grid-area: 20/46/28/51;
}

.pos-7 {
  grid-area: 43/1/51/10;
}

.pos-8 {
  grid-area: 38/14/46/22;
}

.pos-9 {
  grid-area: 40/26/51/32;
}

.pos-10 {
  grid-area: 37/39/48/47;
}

.grid--img .grid__item {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
}

.grid--img .grid__item-img {
  flex: none;
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  will-change: transform;
}

.brand {
  max-width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  position: relative;
}
.brand__title {
  position: relative;
  font-family: "argesta";
  text-align: center;
  font-size: 40px;
  letter-spacing: 1px;
  background-image: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 1px rgba(255, 200, 0, 0.3));
  -webkit-animation: MoveBackgroundPosition 6s ease-in-out infinite;
          animation: MoveBackgroundPosition 6s ease-in-out infinite;
}
@-webkit-keyframes MoveBackgroundPosition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes MoveBackgroundPosition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.brand__title::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 5%;
  right: 5%;
  margin-top: 20px;
  width: 90%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
}
.brand__subtitle {
  font-family: "manege";
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px;
}
.brand .b {
  position: absolute;
  bottom: 0px;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(226, 175, 127, 0.5);
  -webkit-animation: champagne 3s linear infinite;
          animation: champagne 3s linear infinite;
  z-index: 1000;
}
.brand .b::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(rgba(226, 175, 127, 0.5), transparent);
  border-radius: 50%;
}
@-webkit-keyframes champagne {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-700%);
    opacity: 0;
  }
}
@keyframes champagne {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-700%);
    opacity: 0;
  }
}

.stripes {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20vh;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  z-index: 1000;
}
.stripes:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.03) 0%, rgba(24, 21, 19, 0.03) 100%);
}
.stripes:hover .stripes__text {
  color: rgba(255, 255, 255, 0.6);
}
.stripes__text, .stripes__inner {
  pointer-events: none;
}
.stripes__text {
  display: block;
  color: #e2af7f;
  font-family: manege;
  font-size: 33px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  opacity: 0.8;
}
.stripes .arrow {
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px rgba(255, 255, 255, 0.7) solid;
  border-bottom: 2px rgba(255, 255, 255, 0.7) solid;
}
.stripes .arrow:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 15px;
  height: 15px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px rgba(255, 255, 255, 0.7) solid;
  border-bottom: 1px rgba(255, 255, 255, 0.7) solid;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
          animation-name: arrow;
}
@-webkit-keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

/* Section About */
.static {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.static .info {
  height: 70%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.static .info-title {
  margin-bottom: 25px;
  font-size: 55px;
  color: #e2af7f;
  letter-spacing: 1px;
}
.static .info-text {
  max-width: 40%;
}
.static .info-text p {
  line-height: 1.8;
  text-align: center;
  color: #e6e6e6;
}
.static .info-text p:not(:last-child) {
  margin-bottom: 15px;
}
.static .info-btn {
  margin-top: 50px;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  background: transparent;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.static .info-btn:hover {
  color: white;
  border-color: white;
}
.static .info-btn .arrow {
  width: 20px;
  height: 20px;
  margin-top: 25px;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  border-left: none;
  border-top: none;
  border-right: 2px rgba(255, 255, 255, 0.7) solid;
  border-bottom: 2px rgba(255, 255, 255, 0.7) solid;
}
.static .info-btn .arrow:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 15px;
  height: 15px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px rgba(255, 255, 255, 0.7) solid;
  border-bottom: 1px rgba(255, 255, 255, 0.7) solid;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
          animation-name: arrow;
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

.wrapper.pomeranian {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: #151515;
  max-width: 100vw;
}

.poms {
  margin-top: 75px;
  padding: 75px;
  display: grid;
  grid-gap: 5px 25px;
  grid: -webkit-min-content auto/minmax(250px, 18%) 1fr;
  grid: min-content auto/minmax(250px, 18%) 1fr;
  /* --------- Inputs ---------- */
  /* --------- Header ---------- */
  /* -------- Filters ---------- */
  /* -------- Catalogue -------- */
}
.poms__header {
  grid-column: 1/3;
}
.poms__filter {
  height: auto !important;
}
.poms input:disabled ~ * {
  opacity: 0.3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.poms .checkbox {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.poms .checkbox input {
  display: none;
}
.poms .checkbox label {
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 500;
  padding-left: 35px;
}
.poms .checkbox span.box {
  display: inline-block;
  width: 20px;
  border-radius: 5px;
  border: 1px solid #999;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 3px;
  transition: 0.3s ease;
  position: absolute;
  left: 0;
}
.poms .checkbox span.box:before, .poms .checkbox span.box:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 16px;
  border-radius: 40px;
  background: #141312;
  transition: all 0.3s ease;
}
.poms .checkbox span.box:before {
  transform: rotate(45deg) translateY(-5px) translateX(10px) scale(0);
}
.poms .checkbox span.box:after {
  height: 8px;
  transform: rotate(-45deg) translateY(10px) translateX(-4px) scale(0);
}
.poms .checkbox input:checked + label span.box {
  background: #e2af7f;
  border-color: #e2af7f;
}
.poms .checkbox input:checked + label span.box:before {
  transform: rotate(45deg) translateY(-5px) translateX(10px) scale(1);
}
.poms .checkbox input:checked + label span.box:after {
  height: 8px;
  transform: rotate(-45deg) translateY(10px) translateX(-4px) scale(1);
}
.poms .checkbox input:disabled:checked + span.box {
  background: #999;
  border: #999;
}
.poms .checkbox input:disabled:checked ~ label:before, .poms .checkbox input:disabled:checked ~ label:after {
  background: #141312;
}
.poms__header {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
}
.poms__header--title {
  font-size: 50px;
  color: #e3f2fd;
}
.poms__header--view {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  cursor: pointer;
}
.poms__header .option__btn {
  display: grid;
  grid-gap: 5px;
  width: 55px;
  height: 75px;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  transition: 0.2s ease;
}
.poms__header .option__btn > span {
  background: #e3f2fd;
  color: #e3f2fd;
  transition: 0.2s ease;
}
.poms__header .option__btn > span:last-child {
  background: none !important;
  text-align: center;
  text-transform: uppercase;
  font: 500 14px/1 "Poppins", sans-serif;
  display: block;
  margin-top: 2px;
}
.poms__header .option__btn:hover > span {
  color: rgba(226, 175, 127, 0.5);
  background: rgba(226, 175, 127, 0.5);
}
.poms__header .option__btn.selected > span {
  color: #e2af7f;
  background: #e2af7f;
}
.poms__header .option--grid {
  grid: repeat(2, 1fr) min-content/repeat(2, 1fr);
}
.poms__header .option--grid span:last-child {
  grid-column: span 2;
}
.poms__header .option--list {
  grid: repeat(3, 1fr) min-content/100%;
}
.poms .filter-wrapper {
  position: relative;
}
.poms__filter {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  padding: 25px 35px;
  display: grid;
  grid-template: 0.5fr 2.25fr 2.25fr/1fr;
}
.poms__filter--title {
  color: #e3f2fd;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.poms__filter .filter {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.poms__filter .filter:not(:last-child) {
  border-bottom: 1px solid rgba(227, 242, 253, 0.6);
}
.poms__filter .filter > * {
  margin-bottom: 10px;
}
.poms__filter .filter__title {
  font-size: 18px;
  color: rgba(227, 242, 253, 0.6);
  margin-bottom: 15px;
}
.poms__filter .filter__item {
  padding-left: 25px;
}
.poms__filter .filter__item label {
  color: #e3f2fd;
}
.poms__catalogue--grid, .poms__catalogue--list {
  padding: 15px;
}
.poms__catalogue--grid .cat-item, .poms__catalogue--list .cat-item {
  box-shadow: 0 0 8px 2px black;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: background 0.1s linear, box-shadow 0.1s linear;
}
.poms__catalogue--grid .cat-item:hover, .poms__catalogue--list .cat-item:hover {
  box-shadow: 0 0 14px 5px black;
  background: rgba(255, 255, 255, 0.05);
}
.poms__catalogue--grid .cat-item__desc, .poms__catalogue--list .cat-item__desc {
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.poms__catalogue--grid .cat-item__desc > *, .poms__catalogue--list .cat-item__desc > * {
  margin: 10px 0;
}
.poms__catalogue--grid .cat-item__desc--title, .poms__catalogue--list .cat-item__desc--title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0;
}
.poms__catalogue--grid .cat-item__desc--title h3, .poms__catalogue--list .cat-item__desc--title h3 {
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #e3f2fd;
}
.poms__catalogue--grid .cat-item__desc--title svg, .poms__catalogue--list .cat-item__desc--title svg {
  margin-top: 3px;
  margin-left: 10px;
  width: clamp(13px, 20px, 30px);
  height: clamp(13px, 20px, 30px);
}
.poms__catalogue--grid .cat-item__desc--indications, .poms__catalogue--list .cat-item__desc--indications {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.poms__catalogue--grid .cat-item__desc--indications .indi__el, .poms__catalogue--list .cat-item__desc--indications .indi__el {
  display: flex;
  flex-direction: column;
}
.poms__catalogue--grid .cat-item__desc--indications .indi__el--title, .poms__catalogue--list .cat-item__desc--indications .indi__el--title {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
  color: #999;
}
.poms__catalogue--grid .cat-item__desc--indications .indi__el--indication, .poms__catalogue--list .cat-item__desc--indications .indi__el--indication {
  font-size: 16px;
  font-weight: 400;
  color: #e3f2fd;
}
.poms__catalogue--grid .cat-item__desc--cta, .poms__catalogue--list .cat-item__desc--cta {
  background: #69949d;
  transition: background 0.3s cubic-bezier(0.8, 0.02, 0.16, 0.99);
  border-radius: 7px;
  padding: 8px 15px;
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
}
.poms__catalogue--grid .cat-item__desc--cta:hover > span::after, .poms__catalogue--list .cat-item__desc--cta:hover > span::after {
  transform: translateX(0);
  transition: transform 0.15s ease, opacity 0.15s ease;
  opacity: 1;
}
.poms__catalogue--grid .cat-item__desc--cta > span, .poms__catalogue--list .cat-item__desc--cta > span {
  font-size: 18px;
  font-weight: 500;
  color: #141312;
  position: relative;
  pointer-events: none;
}
.poms__catalogue--grid .cat-item__desc--cta > span::after, .poms__catalogue--list .cat-item__desc--cta > span::after {
  content: "\2192";
  position: absolute;
  left: 120%;
  top: 41%;
  opacity: 0;
  transform: translateY(-41%) translateX(-100%);
  transition: transform 0.15s ease, opacity 0.15s ease;
  line-height: 0;
  font-size: 25px;
  color: black;
}
.poms__catalogue--grid {
  display: grid;
  grid-template: 1fr/repeat(3, 1fr);
  grid-gap: 50px 20px;
  gap: 50px 20px;
}
.poms__catalogue--grid .cat-item {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
}
.poms__catalogue--grid .cat-item hr {
  display: none;
}
.poms__catalogue--grid .cat-item__image {
  height: 55%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.poms__catalogue--grid .cat-item__desc {
  height: auto;
  max-height: 45%;
}
.poms__catalogue--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.poms__catalogue--list .cat-item {
  width: 49%;
  height: 250px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.poms__catalogue--list .cat-item__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 42%;
}
.poms__catalogue--list .cat-item__desc {
  width: 58%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: stretch;
}

.show {
  margin-top: 50px;
  padding: 75px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.show > section {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
}
.show__header {
  padding: 20px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: rgba(0, 0, 0, 0.4);
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
}
.show__header .b {
  position: absolute;
  bottom: 0px;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(226, 175, 127, 0.5);
  -webkit-animation: champagne 3s linear infinite;
          animation: champagne 3s linear infinite;
  z-index: 1000;
}
.show__header .b::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(rgba(226, 175, 127, 0.5), transparent);
  border-radius: 50%;
}
@keyframes champagne {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-700%);
    opacity: 0;
  }
}
.show__header > h1 {
  font-family: argesta;
  font-size: 45px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px 1px #f7d801;
}
.show__header > button {
  background: transparent;
  border: 1px solid #e3f2fd;
  color: #e3f2fd;
  padding: 5px 10px;
  font-family: "argesta";
  letter-spacing: 1px;
  font-size: 20px;
}
.show__body {
  display: grid;
  grid-template: 1fr/0.4fr 0.6fr;
  grid-gap: 15px;
}
.show__body--slider, .show__body--info {
  padding: 20px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.4);
}
.show__body--slider {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 400px));
  grid-gap: 10px;
}
.show__body--slider > div.big-slide-cont {
  grid-column: 1/-1;
  grid-row: auto;
  overflow: hidden;
  margin-bottom: 20px;
}
.show__body--slider > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-shadow: 0 0 5px 1px black;
}
.show__body--slider > div img.big-slide {
  border-radius: 2.5;
  /* start transition effect */
  transition: all 0.15s;
  transform: translateY(0);
  opacity: 1;
  /* end transition effect */
}
.show__body--slider > div img.big-slide.slide-transition {
  transform: translateY(10%);
  opacity: 0;
}
.show__body--slider > div img.slide {
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.75;
  transition: opacity 0.15s ease;
}
.show__body--slider > div img.slide:hover {
  opacity: 1;
}
.show__body--info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.show__body--info .info__primary {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-template-rows: repeat(auto-fill, 1fr);
  align-items: center;
  grid-gap: 20px 25px;
}
.show__body--info .info__primary--item {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.show__body--info .info__primary--item .item-title {
  font-size: 14px;
  font-family: argesta;
  text-transform: uppercase;
  color: #999;
}
.show__body--info .info__primary--item .item-value {
  font-size: 19px;
  letter-spacing: 1px;
  color: #e3f2fd;
  font-weight: 300;
}
.show__body--info .info__is-open {
  padding: 10px;
}
.show__body--info .info__is-open h3 {
  text-transform: uppercase;
  color: #80bdff;
}
.show__body--info hr {
  border-top: 1px solid rgba(153, 153, 153, 0.3);
}
.show__body--info .info__rels--title {
  color: #999;
  font-weight: 300;
  font-family: argesta;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 15px;
}
.show__body--info .info__rels--list {
  display: flex;
  flex-direction: column;
}
.show__body--info .info__rels--list li {
  font-size: 18px;
  padding: 5px;
}
.show__body--info .info__rels--list li:not(:last-child) {
  margin-bottom: 15px;
}
.show__body--info .info__rels--list li .info-title {
  font-weight: 400;
  color: #e3f2fd;
}
.show__body--info .info__rels--list li .info-link {
  text-decoration: underline;
  font-weight: 300;
  color: #80bdff;
  transition: all 0.15s ease;
}
.show__body--info .info__rels--list li .info-link:hover {
  text-decoration: none;
  color: #cde5ff;
}
.show__body--info .info__rels--list li .info-na {
  color: #999;
  font-weight: 300;
}