@charset "UTF-8";

/* CSS reset */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

ins {
  background-color: #ff9;
  color: #000;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

li {
  list-style: none;
  display: inline;
}

a,
a:focus,
a:visited {
  text-decoration: none;
}

.is_fillable {
  position: relative;
}

.is_fillable::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
  width: 0%;
  overflow: hidden;
}

.is_fillable:hover::before {
  width: 100%;
}

@font-face {
  font-family: "sans";
  font-weight: 300;
  src: url("/fonts/Sans/OpenSans-Light.ttf");
}

@font-face {
  font-family: "sans";
  font-weight: 400;
  src: url("/fonts/Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "sans";
  font-weight: 500;
  src: url("/fonts/Sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "play";
  font-weight: 400;
  src: url("/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: "play";
  font-weight: 500;
  src: url("/fonts/Playfair_Display/PlayfairDisplay-Medium.ttf");
}

@font-face {
  font-family: "play";
  font-weight: 600;
  src: url("/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf");
}

@font-face {
  font-family: "allura";
  font-weight: 400;
  src: url("/fonts/Allura/Allura-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
.main {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font: 400 100% "sans";
  overflow-x: hidden !important;
  overflow-y: scroll;
  background: #272727;
}

body.left-arr {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23fff" height="35" viewBox="0 0 476.213 476.213" width="35"><polygon points="476.213,223.106 57.426,223.106 91.819,188.713 70.606,167.5 0,238.106 70.606,308.713 91.819,287.5 57.426,253.106 476.213,253.106 "/></svg>'), auto;
}

body.right-arr {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23fff" height="35" viewBox="0 0 476.213 476.213" width="35"><polygon points="405.606,167.5 384.394,188.713 418.787,223.106 0,223.106 0,253.106 418.787,253.106 384.394,287.5 405.606,308.713 476.213,238.106 "/></svg>'), auto;
}

body.no-arr {
  cursor: auto;
}

body::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.9);
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
}

.main {
  opacity: 0;
  visibility: hidden;
  position: relative;
  transition: opacity 0.5s 0.3s cubic-bezier(0.8, 0.02, 0.16, 0.99), visibility 0.3s 0.3s cubic-bezier(0.8, 0.02, 0.16, 0.99);
}

.main-loaded {
  opacity: 1;
  visibility: visible;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 20px 40px;
  background: linear-gradient(to bottom, #272727, transparent);
}

.header__desktop {
  width: 100%;
}

.header__desktop ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__desktop ul li {
  display: inline-flex;
}

.header__desktop ul li:not(.enough-padding) {
  padding: 15px;
}

.header__desktop ul li a {
  display: inline-block;
  overflow: hidden;
  padding: 0px 5px;
}

.header__desktop ul li a:hover span,
.header__desktop ul li a.active span {
  transform: translateY(-100%);
}

.header__desktop ul li a.active:hover {
  color: #f5e3d2;
}

.header__desktop ul li a:focus span,
.header__desktop ul li a:focus span::before {
  color: rgba(255, 255, 255, 0.3);
}

.header__desktop ul li a span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
  color: white;
  font-family: sans;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.5px;
  pointer-events: none;
}

.header__desktop ul li a span::before {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  font-family: sans;
  font-weight: 400;
  color: white;
  transform: translate3d(0, 0, 0);
}

.header__desktop ul li .desk_cta {
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.1s ease-out;
  outline: none !important;
  position: relative;
  z-index: 0;
  border: 0;
  border-radius: 0 !important;
  background: white;
  cursor: pointer;
  padding: 5px 7px;
  margin-left: 15px;
  border: 1px solid #ebc9a9;
  border-radius: 3px !important;
  background: transparent;
  color: #ebc9a9;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  transition: all 0.25s ease;
}

.header__desktop ul li .desk_cta:active {
  background: transparent !important;
}

.header__desktop ul li .desk_cta .svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.header__desktop ul li .desk_cta .left,
.header__desktop ul li .desk_cta .right {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: rgba(226, 175, 127, 0.4);
  transition: background 0.1s ease-out;
  top: 50%;
  margin-top: -12px;
  z-index: -2;
}

.header__desktop ul li .desk_cta .left.left,
.header__desktop ul li .desk_cta .right.left {
  left: 0;
}

.header__desktop ul li .desk_cta .left.right,
.header__desktop ul li .desk_cta .right.right {
  right: 0;
}

.header__desktop ul li .desk_cta__bg {
  content: "";
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: background 0.1s ease-out;
  border-radius: 0 !important;
}

@-webkit-keyframes hue-rotate {
  from {
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }

  to {
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  from {
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }

  to {
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.header__desktop ul li .desk_cta:hover {
  background: #ebc9a9;
  color: black;
}

.ai {
  opacity: 0;
  transition: all ease 0.7s 0s;
}

.ai__active {
  transform: perspective(1px) translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  filter: blur(0.000001px);
  -webkit-filter: blur(0.000001px);
}

.ai__active.ai__from-bottom,
.ai__active.ai__from-right,
.ai__active.ai__scale {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}

.ai__from-bottom {
  transform: translate(0, 20%);
}

.ai__from-right {
  transform: translate(20%, 0);
}

.ai__scale {
  transform: scale(0.8);
}

.wrapper.home {
  position: relative;
  background: #141312;
  overflow: hidden;
}

.wrapper.home .section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.wrapper.home .section__inner {
  width: 100%;
  height: 100%;
}

.wrapper.home .section-header__inner {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.social_ctas {
  position: fixed;
  left: -100px;
  bottom: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transform: translateZ(0) rotate(-90deg) perspective(1px);
  transform-origin: 50% 53%;
  -webkit-transform-origin: 50% 53%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  filter: blur(0.000001px);
  -webkit-filter: blur(0.000001px);
}

.social_ctas__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}

.social_ctas__item:hover {
  color: #85c9f0;
}

.social_ctas__item:hover svg {
  filter: grayscale(0);
}

.social_ctas__item:not(:last-child) {
  margin-right: 30px;
}

.social_ctas__item--svg {
  width: 15px;
  height: 15px;
  margin: 0 0 3px 10px;
}

.social_ctas__item.inst:hover {
  color: #ffa47d;
}

.social_ctas__item.inst svg {
  width: 20px;
  height: 20px;
  margin: 0 0 0 10px;
}

.grid {
  pointer-events: none;
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
}

.grid__item {
  position: relative;
  max-height: 350px;
  max-width: 400px;
}

.grid__item-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.pos-1 {
  grid-area: 10/1/26/7;
}

.pos-2 {
  grid-area: 1/18/9/27;
}

.pos-3 {
  grid-area: 1/36/14/42;
}

.pos-4 {
  grid-area: 13/11/32/18;
}

.pos-5 {
  grid-area: 17/32/32/38;
}

.pos-6 {
  grid-area: 20/46/28/51;
}

.pos-7 {
  grid-area: 43/1/51/10;
}

.pos-8 {
  grid-area: 38/14/46/22;
}

.pos-9 {
  grid-area: 40/26/51/32;
}

.pos-10 {
  grid-area: 37/39/48/47;
}

.grid--img .grid__item {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
}

.grid--img .grid__item-img {
  flex: none;
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  will-change: transform;
}

.brand {
  max-width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  position: relative;
  margin-top: 50px;
}

.brand__title {
  position: relative;
  font-family: "play";
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 1px;
  background-image: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 1px rgba(255, 200, 0, 0.3));
  -webkit-animation: MoveBackgroundPosition 6s ease-in-out infinite;
          animation: MoveBackgroundPosition 6s ease-in-out infinite;
}

@-webkit-keyframes MoveBackgroundPosition {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes MoveBackgroundPosition {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.brand__title::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 5%;
  right: 5%;
  margin-top: 20px;
  width: 90%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
}

.brand__subtitle {
  font-family: "sans";
  font-weight: 300;
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
}

.brand .b {
  position: absolute;
  bottom: 0px;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(226, 175, 127, 0.5);
  -webkit-animation: champagne 3s linear infinite;
          animation: champagne 3s linear infinite;
  z-index: 1000;
}

.brand .b::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0.25) translate(-70%, -70%);
  background: radial-gradient(rgba(226, 175, 127, 0.5), transparent);
  border-radius: 50%;
}

@-webkit-keyframes champagne {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateY(-700%);
    opacity: 0;
  }
}

@keyframes champagne {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateY(-700%);
    opacity: 0;
  }
}

.stripes {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20vh;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  flex-direction: column;
  cursor: pointer;
}

.stripes:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.03) 0%, rgba(24, 21, 19, 0.03) 100%);
}

.stripes:hover .stripes__text {
  color: rgba(255, 255, 255, 0.6);
}

.stripes__text,
.stripes__inner {
  pointer-events: none;
}

.stripes__text {
  display: block;
  color: #e2af7f;
  font-size: 23px;
  letter-spacing: 2px;
  font-family: sans;
  font-weight: 300;
  margin-bottom: 10px;
  opacity: 0.8;
}

.stripes .arrow {
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px rgba(255, 255, 255, 0.7) solid;
  border-bottom: 2px rgba(255, 255, 255, 0.7) solid;
}

.stripes .arrow:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 15px;
  height: 15px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px rgba(255, 255, 255, 0.7) solid;
  border-bottom: 1px rgba(255, 255, 255, 0.7) solid;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: arrow;
          animation-name: arrow;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

@keyframes arrow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

/* Section About */

.static {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.static .info {
  height: 70%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.static .info-title {
  margin-bottom: 25px;
  font-family: "sans";
  font-weight: 400;
  font-size: 55px;
  color: #8a5137;
  letter-spacing: 1px;
}

.static .info-text {
  max-width: 40%;
}

.static .info-text p {
  font-size: 16px;
  font-family: sans;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1.2px;
  text-align: center;
  color: #f0d0ad;
}

.static .info-text p:not(:last-child) {
  margin-bottom: 15px;
}

.wrapper.poms {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: #050505;
  overflow-x: hidden;
  max-width: 100vw;
}

.wrapper.poms .poms__inner {
  padding: 15vh 10vh;
  display: flex;
  flex-direction: column;
}

.select {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.1);
}

.select__cta {
  width: 20%;
  letter-spacing: 0.8px;
  color: #e2af7f;
  font-size: 16px;
  font-weight: 300;
  padding: 10px;
  text-align: center;
}

.select__inner {
  width: 79%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #272727;
  border-radius: 2px;
  z-index: 10;
}

.select__inner li {
  cursor: pointer;
  width: 100%;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.select__inner li.show {
  background: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.9);
}

.select__inner li.show:hover {
  background: rgba(0, 0, 0, 0.2);
}

.select__inner li:hover {
  background: rgba(0, 0, 0, 0.1);
}

.gallery {
  display: flex;
  width: 100%;
  background: darkslategray;
  padding: 10px;
}

.gallery-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  height: 250px;
  margin: 15px;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow: hidden;
}

.gallery-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(80, 48, 18, 0.3);
  transform: translateX(-100%);
  transition: transform 0.2s ease;
}

.gallery-item:hover::before {
  transform: translateX(0);
}

.gallery-item:hover .gallery-item__head .head-title {
  transform: scale(1.14988);
  transition: transform 0.2s ease-out 0.4s;
}

.gallery-item:hover .gallery-item__cta {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.gallery-item__head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 10;
  background: linear-gradient(to bottom, #131313, transparent);
}

.gallery-item__head .head-title {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
  transform: scale(0.9499);
  transition: transform 0.2s ease-out 0.4s;
}

.gallery-item__head .head-title svg {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}

.gallery-item__body {
  height: 100%;
}

.gallery-item__body .body-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
  transition: filter 0.5s ease;
}

.gallery-item__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  height: 25%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20%);
  transition: transform 0.2s ease-in, visibility 0.2s ease-in, opacity 0.2s ease-in;
}

.gallery-item__cta:hover {
  background: rgba(0, 0, 0, 0.2);
}

.gallery-item__cta:hover .gallery-item__cta--link {
  border: 2px solid white;
  color: white;
  padding-right: 30px;
}

.gallery-item__cta:hover .gallery-item__cta--link span::after {
  left: 110%;
  opacity: 1;
}

.gallery-item__cta--link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.9);
  padding: 5px 15px;
  transition: padding 0.15s;
}

.gallery-item__cta--link span {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  position: relative;
}

.gallery-item__cta--link span::after {
  content: "\1F862";
  position: absolute;
  opacity: 0;
  left: 90%;
  transition: all 0.15s ease;
}

.change-view {
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 25px;
  background: white;
}

.change-view__title {
  font-size: 15px;
  color: black;
}

