/* CSS Animations */

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-75px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(75px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes moveUp {
	0% {
		opacity: 0;
		transform: translateY(75px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.anim-stop.anim-delay {
	animation-delay: 0.2s;
}

.anim-stop.anim-delay-medium {
	animation-delay: 0.4s;
}

.anim-stop.anim-delay-long {
	animation-delay: 0.6s;
}

.anim-stop.fadeIn {
	animation-name: fadeIn;
}

.anim-stop.fadeInDown {
	animation-name: fadeInDown;
}

.anim-stop.fadeInUp {
	animation-name: fadeInUp;
}

.anim-stop.moveUp {
	animation-name: moveUp;
}

/* Main */
.anim-item {
	visibility: hidden;
	animation-play-state: paused;
}

.anim-stop {
	visibility: visible;
	animation-fill-mode: both;
	animation-duration: 1s;
	animation-play-state: running;
}
