// anim items [ai]
.anim {
	$duration: 0.7s;

	opacity: 0;
	transition: all $duration ease-in-out $duration/2;

	&-delay {
		transition: all $duration ease-in-out $duration/1.2;
	}

	&-active {
		transform: perspective(1px) translateZ(0);
		backface-visibility: hidden;
		transform: translateZ(0);
		-webkit-transform: translateZ(0);
		filter: blur(0.000001px);
		-webkit-filter: blur(0.000001px);

		&.anim-bottom,
		&.anim-right,
		&.anim-scale {
			opacity: 1;
			transform: translate(0, 0) scale(1);
		}
	}

	// dimensions
	&-bottom {
		transform: translate(0, 1%);
	}

	&-right {
		transform: translate(5%, 0);
	}

	&-scale {
		transform: scale(0.8);
	}
}
