body {
	width: 100%;
	height: 100%;
	font-family: 'system';
	font-weight: 400;
	font-size: 100%;
	overflow-x: hidden;
	background: $transition-bg;

	&.left-arr {
		cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23fff" height="55" viewBox="0 0 476.213 476.213" width="55"><polygon points="476.213,223.106 57.426,223.106 91.819,188.713 70.606,167.5 0,238.106 70.606,308.713 91.819,287.5 57.426,253.106 476.213,253.106 "/></svg>'),
			auto;
	}

	&.right-arr {
		cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23fff" height="55" viewBox="0 0 476.213 476.213" width="55"><polygon points="405.606,167.5 384.394,188.713 418.787,223.106 0,223.106 0,253.106 418.787,253.106 384.394,287.5 405.606,308.713 476.213,238.106 "/></svg>'),
			auto;
	}

	&.no-arr {
		cursor: auto;
	}

	// scroll bar
	@include scrollbar;

	// admin
	&.body-admin {
		background: rgba(0, 0, 0, 0.1);
	}
}

#wrapper {
	@include flex-column;
	position: relative;
	min-height: 100vh;
	max-width: 100vw;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: $bgPrimary;

	.main {
		@include flex-column;
		// max-height: 80%;
		position: relative;
		width: inherit;
		height: inherit;
		padding: 40px 0;

		.section {
			position: relative;
			width: 100%;

			&__inner {
				width: 100%;
				height: 100%;
			}
		}
	}
}
