.brand {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	@include flex-center;
	flex-direction: column;
	padding: 10px;
	padding: 25px;
	z-index: 40;

	cursor: pointer;
	background: $black05;
	border-radius: 5px;

	// effect on hide
	opacity: 1;
	visibility: visible;
	transition-property: opacity, visibility, background;
	transition-duration: .5s, .5s, .5s;

	&__logotype {
		width: 67px;
		height: auto;
		margin-top: 25px;
	}

	&__title {
		margin-bottom: 15px;
		font-family: 'curly';
		font-size: 44px;
		background-image: $gradient-two;
		background-size: 150%;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		filter: drop-shadow(0 0 1px rgba(255, 200, 0, .3));
		animation: MoveBackgroundPosition 6s ease-in-out infinite;

		@keyframes MoveBackgroundPosition {
			0% {
				background-position: 0% 50%
			}

			50% {
				background-position: 100% 50%
			}

			100% {
				background-position: 0% 50%
			}
		}
	}

	&__subtitle.brand__shine {
		font-size: 16px;
		font-family: 'serif-500';
		text-align: center;

		span {
			background: $gradient-two;
			background-clip: text;
			-webkit-background-clip: text;
			display: inline-block;
			color: $white01;
			margin: 0 -.05em;
			animation: shine 2.7s infinite alternate;

			@for $i from 0 through 30 {
				&:nth-child(#{$i+1}) {
					animation-delay: #{$i*.1}s;
				}
			}
		}

		@keyframes shine {
			0% {
				opacity: 1
			}

			100% {
				opacity: 0
			}
		}
	}

	&.hide {
		opacity: 0;
		visibility: hidden;
	}

	&:hover {
		background: $black07;
		;
	}
}
