.cursor {
	position: absolute;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: $low;
	transform-origin: 100% 100%;
	transition: width 0.25s ease 0.25s, height 0.25s ease 0.25s,
		background $cubic;
	width: 30px;
	height: 30px;
	background: $gradient-one__bubble;
	border: 1px solid #252525;
	backdrop-filter: saturate(1.5) contrast(120%);

	&.grow {
		width: 125px;
		height: 125px;
	}
}
