.cursor {
	position: absolute;
	width: 35px;
	height: 35px;
	// border: 2px solid transparent;
	border-radius: 50%;
	// background: rgba()
	background: $gradient-one__bubble;
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: 9;
	transform-origin: 100% 100%;
	transition: width .5s ease,
		height .5s ease,
		background $cubic;

	&.grow {
		width: 100px;
		height: 100px;
		// border: 2px solid #5d4a1f;
		// background: $gradient-one;
	}
}
