.footer {
	margin-top: auto;
	background: $headerFooter;
	padding: 20px 0;

	&__inner {
		width: 100%;
		display: grid;
		grid-template: 1fr / repeat(auto-fit, minmax(24%, 1fr));
	}

	&__section {
		width: 100%;
		@include flex-column;
		align-items: center;
		justify-content: center;

		// Common
		a,
		button {
			font-size: 19px;
			color: $white06;

			svg {
				width: 25px;
				height: 25px;
				fill: $white06;
			}

			&:hover {
				svg {
					fill: #eee;
				}
				color: #eee;
			}
		}

		&--title {
			width: 100%;
			text-align: center;
			margin-bottom: 15px;
			font-family: system;
			font-weight: 400;
			font-size: 21px;
			color: $white03;
		}

		&--list {
			@include flex-column;
			justify-content: center;

			li {
				display: inline-block;

				&:not(:last-child) {
					margin-bottom: 10px;
				}

				a {
					display: block;
					font-family: leftonade;

					&:focus,
					&:active {
						color: $accent;
					}
				}
			}

			// Social section
			&.social {
				display: inline-flex;
				align-items: center;
				flex-direction: row;

				li {
					margin-bottom: 0;

					a {
						margin-right: 7px;
					}
				}
			}
		}

		// Copyright section
		.copyright {
			@include flex-column;
			align-items: center;
			position: relative;
			padding-top: 7px;

			&__img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 60%;
				opacity: 0.1;
			}

			&__brand {
				font-family: leftonade;
				font-size: 20px;
				color: $white06;
				// @include bg-gradient-anim;
			}

			&__copy {
				font-size: 16px;
				font-weight: 400;
				color: $white06;
				text-align: center;
			}
		}
	}

	&__ctas {
		display: inline-flex;
		flex-direction: column;

		&--item {
			display: inline-flex !important;
			align-items: center;
			background: transparent;
			font-family: leftonade;
			padding: 0;

			svg {
				margin-right: 7px;
			}
		}
	}
}

@media screen and (max-width: 755px) {
	.footer {
		&__inner {
			grid-template: 1fr 1fr / 1fr 1fr;
			grid-gap: 2rem;
		}

		&__section--title {
			display: none;
		}
	}
}

@media screen and (max-width: 555px) {
	.footer {
		&__inner {
			grid-template: auto / 1fr;
			grid-gap: 3rem 2rem;
		}

		&__section {
			&--list {
				li {
					text-align: center;
				}
			}
		}
	}
}
