.nav {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #141414;
	transition: all 1s;
	width: 100%;
	height: 100%;
	z-index: -5;
	opacity: 0;
	visibility: hidden;

	// show nav
	&.show {
		width: 100%;
		height: 100%;
		z-index: 10;
		opacity: 1;
		visibility: visible;
	}

	// xtra layer
	&__xtra-layer {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
	}

	// inner
	&__inner {
		position: absolute;
		top: 20px;
		left: 20px;
		right: 20px;
		bottom: 20px;
		@include flex-center;
		flex-direction: column;
		font-family: "sans-400";
		background: #080808;
	}

	// brand
	&__brand {
		height: 30%;
		@include flex-center;
		flex-direction: column;
		padding: 50px;
		border: 1px solid white;
		position: relative;

		h1 {
			font-family: "serif-500";
			position: relative;
			color: white;
			font-size: 35px;
			text-transform: uppercase;
			letter-spacing: 5px;

			&::after {
				content: "";
				display: block;
				position: absolute;
				top: 100%;
				left: 10%;
				right: 10%;
				margin-top: 20px;
				width: 80%;
				height: 1px;
				background-color: $white08;
			}
		}

		&--subtitle {
			font-family: "sans-300";
			margin-top: 50px;
			color: rgba(255, 255, 255, 0.7);
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 18px;
		}
	}

	// close button
	&__close {
		position: absolute;
		right: 0px;
		top: 0px;
		padding: 15px;
		height: 100%;
		background: $black05;
		text-decoration: none;
		transition: background 0.25s;

		svg {
			width: 25px;
			height: 25px;
			fill: beige;
			transition: fill 0.5s;
		}

		&:hover {
			background: $white02;

			svg {
				fill: black;
			}
		}
	}

	// navigation sections
	&__sections {
		height: 50%;
		width: 100%;
		display: flex;
		justify-content: space-around;
		padding: 80px;

		&--ul {
			display: inline-flex;
			flex-direction: column;

			&--title {
				font-family: "serif-500";
				color: #c78a48;
				// text-transform: uppercase;
				font-size: 22px;
				// letter-spacing: 1px;
				margin-bottom: 15px;
				// background: $gradient-one;
				// background-clip: text;
				position: relative;

				&::before,
				&::after {
					content: "";
					position: absolute;
					display: block;
					height: 1px;
					background: #c78a48;
					margin-top: 5px;
				}

				&::before {
					top: 110%;
					width: 90%;
				}

				&::after {
					top: 100%;
					width: 100%;
				}
			}

			li {
				display: inline;

				a {
					display: block;
					font-family: "sans-400";
					color: $white07;
					color: #9b9898;
					font-size: 15px;
					text-decoration: none;
					text-transform: uppercase;
					letter-spacing: 1.5px;
					padding: 5px 0;
					position: relative;

					&::after {
						content: "\2715";
						position: absolute;
						bottom: 5px; // from padding
						right: 100%;
						display: block;
						margin-right: 10px;
						font-size: 14px;
						display: none;
					}

					&:focus {
						color: #ffc0cb;
						transition: 0.8s;
						outline: none;
					}

					&.active:hover::after {
						display: none;
					}

					&:hover {
						color: white;

						&::after {
							display: block;
						}
					}

					&.active {
						text-decoration: line-through;
					}
				}
			}
		}
	}
}
