&__header {
	/* Change view (grid || list) */

	.view {
		display: grid;
		width: 45px;
		height: 65px;
		gap: 3px;
		padding: 7px;
		border-radius: 5px;
		overflow: hidden;
		transition: 0.2s ease;
		cursor: pointer;

		@media screen and (min-width: 1024px) {
			grid-gap: 5px;
			width: 55px;
			height: 75px;
			padding: 10px;
		}

		> span {
			background: $white;
			color: $white;
			transition: 0.2s ease;
			&:last-child {
				background: none !important;
				text-align: center;
				text-transform: uppercase;
				font-size: 13px;
				display: block;
				margin-top: 2px;
			}
		}

		&:hover {
			> span {
				color: rgba($amber, 0.5);
				background: rgba($amber, 0.5);
			}
		}

		&.selected {
			> span {
				color: $amber;
				background: $amber;
			}
		}
	}

	.view-grid {
		grid: repeat(2, 1fr) min-content / repeat(2, 1fr);
		span:last-child {
			grid-column: span 2;
		}
	}

	.view-list {
		display: none;

		@media screen and (min-width: 475px) {
			// min-width XS from tailwind docs
			display: grid;
			grid: repeat(3, 1fr) min-content / 100%;
		}
	}
}

/* Pagination */
.pagination
{
  @include flex-center(row);

  li {
    box-shadow: $bshadow;
  }

  &__nav {
    border-radius: 50%;
    border: 1px solid transparent;
    transition: border-color .15s ease-in;

    &:hover {
      border-color: $accent;

      svg {
        fill: $accent;
      }
    }

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }

    a {
      @include flex-center(row);
      padding: 5px;
    }
  }

  &__link {
    display: block;
    margin: 0 5px;
    border: 1px solid transparent;
    background: lighten($bgSecondary, 1%);
    transition: background .15s ease-in, opacity .15s ease-out;
    opacity: .45;

    &:hover, &.active {
      opacity: 1;
    }

    a, span {
      display: block;
      padding: 10px;
    }

    a {
      color: $accentSecondary;
    }

    &.active {
      border-color: rgba($accentSecondary, .3);
      background: $accent;
      span {
        color: $bgPrimary;
      }
    }
  }

  &__svg {
    fill: $accentSecondary;
    transition: .15s ease-out;
    width: 20px;
    height: 20px;

    &--left {
      transform: rotate(90deg);
    }

    &--right {
      transform: rotate(-90deg);
    }
  }
}