.main.pomeranian {
	// overflow-x: hidden; // sticky
}

.poms {
	padding: 25px 75px 75px;
	display: grid;
	grid-gap: 5px 25px;
	grid: min-content auto / minmax(250px, 23%) 1fr;

	&__header {
		grid-column: 1/ 3;
	}

	&__filter {
		height: auto !important;
	}

	/* --------- Inputs ---------- */
	@import './includes/index/inputs';

	/* --------- Header ---------- */
	@import './includes/index/header';

	/* -------- Filters ---------- */
	@import './includes/index/filters';

	/* -------- Catalogue -------- */
	@import './includes/index/catalogue';
}
