.wrapper.poms {
	width: 100%;
	min-height: 100vh;
	position: relative;
	background: #050505;
	overflow-x: hidden;
	max-width: 100vw;

	.poms__inner {
		padding-top: 15vh;
		@include flex-around;
		flex-direction: column;
	}
}

// select
.select {
	display: inline-flex;
	background: lighten($cream, 10%);
	border-radius: 2px;
	position: relative;

	&:hover {
		.select_list {
			display: flex;
		}

		.select_selected {
			&::before {
				transform: translateY(0);
				z-index: 0;
			}
			padding-right: 80px;
		}

		.select_naming {
			color: black;
		}

		.select_arrow-cont {
			svg {
				transform: rotate(90deg);
				transition: transform 0.1s;
			}
		}
	}

	.active {
		.select_selected {
			padding-right: 80px;
		}
	}

	&_selected {
		display: block;
		width: auto;
		padding: 7px 15px;
		padding-right: 40px;

		position: relative;
		overflow: hidden;
		transition: padding 0.3s ease;

		.select_naming {
			position: relative;
			color: $black08;
			text-transform: uppercase;
			font-family: nunito;
			font-weight: 400;
			font-weight: 500;
			z-index: $low;
		}

		.select_arrow-cont {
			// arrow
			position: absolute;
			@include flex-center;
			right: 0;
			top: 0;
			bottom: 0;
			width: 25px;
			background: $cream;

			svg {
				width: 8px;
				height: 8px;
				fill: $black05;
				transition: transform 0.1s;
				transform: rotate(0);
			}
		}

		&::before {
			// background purpose
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: calc(100% - 25px);
			height: 100%;
			display: block;
			z-index: $low;
			background: lighten($cream, 20%);
			border-radius: 2px;
			transform: translateY(100%);
			transition: transform 0.1s ease;
		}
	}

	&_list {
		position: absolute;
		top: 98%;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		background: rgba(darken($cream, 3%), 0.9);
		z-index: $low;
		display: none;

		li {
			cursor: pointer;

			padding: 10px 15px;
			font-size: 14px;
			text-align: center;
			font-weight: 500;
			text-transform: uppercase;

			&.show {
				background: $black02;
				color: $white09;

				&:hover {
					background: $black02;
				}
			}

			&:hover {
				background: rgba(0, 0, 0, 0.1);
			}
		}
	}
}

@import "./includes/gallery";
@import "./includes/change-view";
