$background: rgba(black, 0.4);

.show {
	margin-top: 50px;
	padding: 75px;
	@include flex-column;
	align-items: stretch;

	& > section {
		width: 100%;
		margin-bottom: 15px;
		border-radius: 5px;
	}

	@import "./includes/show/header";

	@import "./includes/show/body";
}
