$background: rgba(black, 0.4);

.show {
	padding: 75px;
	@include flex-column;
	align-items: stretch;
	font-size: 20px;

	& > section {
		width: 100%;
		max-height: 90vh;
		margin-bottom: 15px;
		border-radius: 5px;
	}

	@import './includes/show/header';

	@import './includes/show/body';
}
