.poms {
	// title
	&-title {
		width: 100%;
		@include flex-center(row);
		background: #222;
		box-shadow: 0 5px 10px 1px black;

		h1 {
			font-family: "argesta";
			font-size: 35px;
			font-weight: 600;
			margin: 0;
			padding: 15px;
			text-align: center;
			background: #222;
			color: rgba(0, 0, 0, 0.6);
			text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
		}
	}

	// inner
	&-inner {
		width: 100%;
		height: 100%;
		padding: 25px 0;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 0.5fr));
		grid-gap: 30px;

		.pom {
			@include flex-column;
			height: 250px;
			text-decoration: none;
			background: #121212;
			box-shadow: 0 3px 5px 1px black;
			padding: 5px;

			&:hover {
				.pom-img {
					opacity: 1;
				}
			}

			&-name {
				height: 15%;
				display: flex;
				align-items: center;
				pointer-events: none;
				// typography
				letter-spacing: 1px;
				font-size: 20px;
				color: $white;

				svg {
					width: 17px;
					height: 17px;
					margin: 3px 0 0 5px;
				}
			}

			&-img {
				@include image;
				height: 85%;
				opacity: 0.6;
				transition: opacity 0.3s;
				pointer-events: none;
			}
		}
	}
}
