.poms {
	// title
	&-title {
		width: 100%;
		@include flex-center(row);
		background: #222;
		box-shadow: 0 5px 10px 1px black;

		h1 {
			font-family: play;
			font-size: 4em;
			font-weight: 600;
			margin: 0;
			padding: 0.25em;
			text-align: center;
			background: #222;
			color: rgba(0, 0, 0, 0.6);
			text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
		}
	}

	// inner
	&-inner {
		width: 100%;
		padding-top: 25px;
		display: grid;
		grid-template: repeat(auto-fill, 300px) / repeat(
				auto-fit,
				minmax(25%, 1fr)
			);

		.pom {
			@include flex-column;
			overflow: hidden;
			margin: 0 5px;
			position: relative;

			text-decoration: none;
			background: rgba($blueMain, 0.1);
			box-shadow: 0 3px 5px 1px black;
			border-radius: 9px;

			&:hover {
				.pom-img {
					opacity: 1;
				}
				.pom-cta {
					bottom: 0;
				}
			}

			&-name,
			&-cta,
			&-img {
				pointer-events: none;
			}

			&-name,
			&-cta {
				position: absolute;
				left: 0;
				right: 0;
				@include flex-center(row);
				width: 100%;
				height: 15%;
				z-index: $medium;
				background: rgba(black, 0.6);
			}

			&-name {
				top: 0;
				// typography
				font-family: play;
				font-weight: 500;
				letter-spacing: 1px;
				font-size: 23px;
				color: darken(white, 15%);

				svg {
					width: 17px;
					height: 17px;
					margin: 3px 0 0 5px;
				}
			}

			&-img {
				@include absolute-stretch;
				@include image;
				opacity: 0.6;
				transition: opacity 0.3s;
			}

			&-cta {
				bottom: -100%;
				//
				transition: bottom 0.3s;
				color: white;
			}
		}
	}
}
