.poms {
	// title
	&-title {
		width: 100%;
		@include flex-center(row);
		background: #222;
		box-shadow: 0 5px 10px 1px black;

		h1 {
			font-family: bitter;
			font-size: 35px;
			font-weight: 600;
			margin: 0;
			padding: 15px;
			text-align: center;
			background: #222;
			color: rgba(0, 0, 0, 0.6);
			text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
		}
	}

	// inner
	&-inner {
		width: 100%;
		height: 100%;
		padding: 25px 0;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 0.5fr));
		grid-gap: 30px;

		.pom {
			@include flex-column;
			height: 350px;
			text-decoration: none;
			background: #121212;
			box-shadow: 0 3px 5px 1px black;

			&:hover {
				.pom-img {
					opacity: 1;
				}
			}

			&-img {
				@include image;
				height: 65%;
				opacity: 0.6;
				transition: opacity 0.3s;
				pointer-events: none;
			}

			&-info {
				height: 35%;
				@include flex-column;
				align-items: center;
				justify-content: space-between;
				padding: 10px;

				&__name {
					display: flex;
					align-items: center;
					pointer-events: none;
					// typography
					letter-spacing: 1px;
					font-size: 20px;
					color: $white;

					svg {
						width: 17px;
						height: 17px;
						margin: 3px 0 0 5px;
					}
				}

				&__timestamps {
					// @include flex-column;
					font-size: 16px;
					color: $grayMain;

					span:first-child {
						text-transform: lowercase;
						font-size: 14px;
					}
				}

				&__cta {
					width: 100%;
					padding: 5px 15px;
					text-decoration: none;
					text-align: center;
					transition: all 0.15s;
					border-radius: 5px;
					border: 1px solid $accentSecondary;
					color: $accentSecondary;
					&:hover {
						border-color: $blueMain;
						color: $blueMain;
					}
				}
			}
		}
	}
}
