.poms {
	// title
	&-title {
		width: 100%;
		@include flex-center(row);

		h1 {
			font-size: 25px;
			color: $material-black;
		}
	}

	// inner
	&-inner {
		width: 100%;
		display: flex;
		flex-wrap: wrap;

		.pom {
			width: 24.88%;
			height: 250px;
			@include flex-center(column);
			overflow: hidden;
			// border-radius: 13px;
			// border: 1px solid rgba(black, 0.07);

			&-img {
				width: 100%;
				object-fit: cover;
				object-position: center;
			}

			&-name {
				text-align: center;
				font-size: 19px;
				color: $sky-blue;
			}
		}
	}
}
