.single {
	margin: 0 auto;
	width: 85%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	border-radius: 5px;
	overflow: hidden;
	background: #191919;
	box-shadow: 0 3px 7px 2px black;

	.info,
	.gallery {
		padding: 25px;
		overflow-x: hidden;
		width: 100%;
		height: calc(100% - 40px);

		// scroll bar
		@include scrollbar;
	}

	// Tabs
	@import "./../../includes/show/_tabs";

	// Info
	@import "./../../includes/show/_info";

	// Gallery
	@import "./../../includes/show/_gallery";
}
