// Show poms list
.poms {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;

	figure {
		padding: 1rem;
		border-radius:5px;
		border: 1px solid rgba(white, .3);
		@include flex-column;
		box-shadow: $bshadow3;

		figcaption {
			@include space-y(1rem);
			
			h3 {
				font-size: 1.2rem;
				color: white;
				font-weight: 500;
			}

			ul {
				@include flex-column;

				li {
					span {
						color: olive;
					}
				}
			}
		}
	}
}