&__catalogue {
	display: grid;
	grid-template: 1fr / repeat(3, 1fr);
	grid-gap: 50px 20px;
	gap: 50px 20px;
	padding: 15px;

	&--item {
		max-width: 350px;
		display: flex;
		flex-direction: column;
		flex: 1;
		background: rgba(gray, 0.1);
		box-shadow: 0 0 5px 0 $black;
		border-radius: 5px;
		overflow: hidden;

		.item__image {
			height: 45%;
			object-fit: cover;
			object-position: center;
		}

		.item__desc {
			height: 54%;
			padding: 20px 25px;
			display: flex;
			justify-content: space-around;
			flex-direction: column;

			> * {
				margin: 10px 0;
			}

			&--title {
				@include flex-center(row);
				justify-content: flex-start;
				margin-top: 0;

				h3 {
					font-size: 22px;
					font-weight: 500;
					color: $white;
					color: white;
				}

				svg {
					margin-left: 10px;
					width: clamp(13px, 20px, 30px);
					height: clamp(13px, 20px, 30px);
				}
			}

			&--desc {
				color: $grayLighter;
				font-size: 15px;
			}

			&--indications {
				@include flex-between(row);

				.indi__el {
					display: flex;
					flex-direction: column;

					&--title {
						text-transform: uppercase;
						font-weight: 300;
						font-size: 15px;
						color: $grayColor;
					}

					&--indication {
						font-size: 16px;
						font-weight: 400;
						color: $white;
					}
				}
			}

			&--cta {
				font-family: sans;
				background: $accent;
				color: $black;
				border-radius: 7px;
				padding: 8px 15px;
				font-size: 18px;
				font-weight: 500;
				margin-bottom: 0;
				position: relative;
			}
		}
	}
}
