.filter-wrapper {
	position: relative;
}
&__filter {
	position: sticky;
	top: 30px;

	// background: rgba(olive, 0.1);
	padding: 25px 35px;
	display: grid;
	grid-template: 0.5fr 2.25fr 2.25fr / 1fr;

	// title
	&--title {
		// typography
		color: $white;
		font-weight: 400;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	// filters
	.filter {
		display: flex;
		flex-direction: column;
		padding: 15px;

		&:not(:last-child) {
			border-bottom: 1px solid rgba($white, 0.6);
		}

		& > * {
			margin-bottom: 10px;
		}

		&__title {
			font-size: 18px;
			color: rgba($white, 0.6);
			margin-bottom: 15px;
		}

		&__item {
			padding-left: 25px;
			label {
				color: $white;
			}
		}
	}
}
