&__sections {
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 80px;

	&--ul {
		display: inline-flex;
		flex-direction: column;

		&--title {
			font-family: "play";
			font-weight: 500;
			color: #c78a48;
			// text-transform: uppercase;
			font-size: 22px;
			// letter-spacing: 1px;
			margin-bottom: 15px;
			// background: $gradient-one;
			// background-clip: text;
			position: relative;

			&::before,
			&::after {
				content: "";
				position: absolute;
				display: block;
				height: 1px;
				background: $cream;
				margin-top: 5px;
			}

			&::before {
				top: 115%;
				width: 90%;
			}

			&::after {
				top: 90%;
				width: 100%;
			}
		}

		li {
			display: inline;

			a {
				display: block;
				font-family: "sans";
				font-weight: 300;
				color: $white07;
				color: #9b9898;
				font-size: 14px;

				text-transform: uppercase;
				letter-spacing: 2px;
				padding: 5px 0;
				position: relative;

				&::after {
					content: "\2715";
					position: absolute;
					bottom: 5px; // from padding
					right: 100%;
					display: block;
					margin-right: 10px;
					font-size: 14px;
					display: none;
				}

				&:focus {
					color: #ffc0cb;
					transition: 0.8s;
					outline: none;
				}

				&.active:hover::after {
					display: none;
				}

				&:hover {
					color: white;

					&::after {
						display: block;
					}
				}

				&.active {
					text-decoration: line-through;
				}
			}
		}
	}
}
