.gallery {
	@include flex-column;
	background: #101010;

	// Upload new images
	&__upload {
		margin-bottom: 25px;

		& > form {
			& > button {
				border: none;
				background: transparent;
				color: lighten($grayMain, 10%);
				border: 1px solid lighten($grayMain, 10%);
				border-radius: 5px;
				transition: 0.15s;
				@include flex-center(row);

				&:hover {
					color: $greenMain;
					border-color: $greenMain;
				}
			}

			& > a {
				width: 100%;
				margin-top: 15px;
				@include flex-center(row);
				@include cta-dashed;
			}

			.images-cont {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
				grid-template-rows: repeat(auto-fit, 150px);
				grid-gap: 5px;
				margin-top: 25px;
				padding: 10px;

				background: darken($gitdark, 3%);
				box-shadow: 0 0 5px 1px inset black;

				img {
					@include image;
					border-radius: 3px;
				}

				&__item {
					position: relative;

					button {
						@include cancel-image-button;
					}
				}
			}
		}
	}

	&__grid {
		display: grid;
		grid-template: repeat(auto-fit, 150px) / repeat(
				auto-fit,
				minmax(150px, 0.5fr)
			);
		grid-gap: 5px;
		@include scrollbar;

		& > div {
			position: relative;
			cursor: pointer;

			&:hover img {
				opacity: 1;
			}

			img {
				@include image;
				opacity: 0.6;
				border: 1px solid rgba($grayMain, 0.4);
				transition: opacity 0.15s ease-out;

				&.avatar {
					border: 2px solid $blueMain;
				}
			}

			button {
				@include cancel-image-button;
			}
		}
	}
}
