// waves
// @import "./waves";

.about {
	margin-top: 100px;
	position: relative;

	&__title {
		h2 {
			white-space: nowrap;
			color: #525252;
			font-family: manege;
			font-size: 5vw;

			&:last-child {
				margin-top: 50px;
				color: $accent;
				font-size: 4vw;
			}
		}
	}

	&__inner {
		margin-top: 100px;
		height: 100%;
		@include flex-center(row);

		// logotype
		.logo {
			&__image {
				// @include image;
				max-width: 300px;
				max-height: auto;
				margin-left: 50px;
			}
		}

		// info
		.info {
			width: 40%;
			position: relative;
			@include flex-center(column);

			&-text {
				p {
					// font-family: leftonade;
					font-size: 18px;
					max-width: 85%;
					line-height: 1.8;
					color: $white09;

					&:not(:last-child) {
						margin-bottom: 15px;
					}
				}
			}
		}
	}
}
