// waves
// @import "./waves";

.static {
	height: 100%;
	@include flex-center;

	// info
	.info {
		height: 70%;
		position: relative;
		@include flex-center;
		flex-direction: column;
		// background: $black01;

		&-title {
			margin-bottom: 25px;
			// typography
			font-family: "sans";
			font-weight: 400;
			font-size: 55px;
			color: #8a5137;
			letter-spacing: 1px;
		}

		// &-cup {
		// 	position: absolute;
		// 	top: 100px;
		// 	left: 0px;
		// 	width: 150px;
		// 	height: 190px;
		// 	z-index: $medium;
		// }

		&-text {
			// margin: 0 auto;
			max-width: 40%;

			p {
				font-size: 16px;
				font-family: sans;
				font-weight: 300;
				line-height: 1.5;
				letter-spacing: 1.2px;
				text-align: center;
				color: #f0d0ad;

				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}
		}
	}
}
