.brand {
	max-width: 35%;
	@include flex-center(column);
	padding: 35px;
	border: 1px solid $white07;
	position: relative;
	margin-top: 50px;

	&__title {
		position: relative;

		// typography
		font-family: "play";
		font-weight: 600;
		// text-transform: uppercase;
		text-align: center;
		font-size: 40px;
		letter-spacing: 1px;
		background-image: $gradient-two;
		background-size: 200%;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		filter: drop-shadow(0 0 1px rgba(255, 200, 0, 0.3));
		animation: MoveBackgroundPosition 6s ease-in-out infinite;

		@keyframes MoveBackgroundPosition {
			0% {
				background-position: 0% 50%;
			}

			50% {
				background-position: 100% 50%;
			}

			100% {
				background-position: 0% 50%;
			}
		}

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 100%;
			left: 5%;
			right: 5%;
			margin-top: 20px;
			width: 90%;
			height: 1px;
			background-color: $white08;
		}
	}

	&__subtitle {
		font-family: "sans";
		font-weight: 300;
		margin-top: 50px;
		color: $white09;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
		font-size: 18px;
	}

	@import "./bubbles";
}
