.brand {
	width: 100%;
	min-height: 70vh;
	@include flex-column;
	margin: 15px 0 0 25px; //locomotive data-speed
	position: relative;

	&__title {
		position: relative;

		// Gold gradient
		// @include bg-gradient-anim;
		background: linear-gradient(
			90deg,
			#252525,
			#e0cb84,
			#fff,
			#e0cb84,
			#252525
		);
		background-repeat: no-repeat;
		background-size: 80%;
		animation: animate 8s linear infinite;
		background-clip: text;
		-webkit-text-fill-color: rgba(black, 0.01);
		margin-bottom: 0;

		h1 {
			// typography
			font-family: 'bitter';
			font-size: 50px;
			letter-spacing: -0.5px;
		}

		@keyframes animate {
			0% {
				background-position: -500%;
			}

			100% {
				background-position: 500%;
			}
		}
	}

	&__desc {
		font-family: manege;
		margin-top: 28px;
		color: white;
	}

	&__bubble {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translateX(-50%);
		display: inline-flex;
		filter: url('#noise');
		// margin: 50px 0 300px 25%;

		img {
			width: 420px;
			height: 420px;
		}
	}

	@import './bubbles';
}

@media screen and (max-width: 1024px) {
	.brand {
		min-height: 0;
		height: 75vh;
		margin: 0;

		&__title {
			h1 {
				font-size: 2.5rem;
				text-align: center;
			}
		}

		&__desc {
			text-align: center;
		}

		&__bubble {
			position: static;
			transform: none;

			img {
				width: 19rem;
				height: 19rem;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.brand {
		height: 82vh;
	}
}
