.reach-us {
	height: 250px;
	width: 100%;
	background: white;
	@include flex-center(row);
	padding: 0 15vw;
	background: linear-gradient(to top, #141414, rgba(#252525, 0.8)),
		url('/images/bgs/map.svg') no-repeat center;
	background-size: 500px 500px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;

	&__inner {
		height: 100%;
		@include flex-around(row);
	}

	&__col {
		width: 45%;
		@include flex-column;
	}

	&__text {
		// text-align: center;

		&:first-child {
			color: rgb(214, 210, 210);
		}

		&--bigger {
			font-size: 50px;
			color: $accent;
			font-weight: 300;
		}
	}

	&__btn {
		align-self: flex-end;
		display: inline-block;
		padding: 10px 20px;

		.btn-bestia__text {
			font-size: 1.7rem;
		}
	}
}

@media screen and (max-width: 1024px) {
	.reach-us {
		padding: 0 4rem;

		&__text {
			font-size: 28px;

			&--bigger {
				font-size: 2.5rem;
			}
		}
	}
}

@media screen and (max-width: 635px) {
	.reach-us {
		padding: 0;
	}
}

@media screen and (max-width: 455px) {
	.reach-us {
		height: 300px;
		padding: 0 1rem;

		&__inner {
			flex-direction: column;
			align-items: center;
		}

		&__col {
			width: 100%;
		}

		&__text {
			text-align: center;
		}

		&__btn {
			align-self: stretch;
		}
	}
}
