.social_ctas {
	position: fixed;
	left: 0;
	bottom: 0%;
	@include flex-center(row);
	z-index: $high;

	// links
	&__item {
		@include flex-center(row);
		transition: all 0.2s;
		padding: 10px;
		border-radius: 4px;

		// typography
		font-size: 15px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.6px;
		color: $white;

		&:hover {
			background: rgba($white, 0.1);
			color: lighten(#1976d2, 30%);

			svg {
				filter: grayscale(0);
			}
		}

		&:not(:last-child) {
			margin-right: 30px;
		}

		//
		&--svg {
			width: 19px;
			height: 19px;
			margin: 0 0 0 10px;
			filter: grayscale(100%);
		}

		&.inst {
			&:hover {
				// TODO: make gradient
				color: #ffa47d;
			}
		}
	}
}
