li {
	list-style: none;
	display: inline;
}

a,
a:focus,
a:visited {
	text-decoration: none;
}

button {
	outline: none;
	border: none;
	box-shadow: none;
	padding: 7px 12px;
	cursor: pointer;
}

.is_fillable {
	@include fill-effect($white08);
}

// ripple effect
.btn-ripple {
	position: relative;
	overflow: hidden;
}

span.ripple {
	position: absolute;
	border-radius: 50%;
	transform: scale(0);
	animation: ripple 600ms linear;
	background-color: rgba(255, 255, 255, 0.5);
}

@keyframes ripple {
	to {
		transform: scale(4);
		opacity: 0;
	}
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid rgba(153, 153, 153, 0.5);
	-webkit-text-fill-color: white;
	box-shadow: 0 0 0px 1000px #2b2c2e inset;
	-webkit-box-shadow: 0 0 0px 1000px #2b2c2e inset;
	transition: background-color 5000s ease-in-out 0s;
}
