/*
 *
 * Cormorant / Sans-Serif / Base Font
 *
 */

@font-face {
    font-family: 'comforta-lighter';
    font-weight: 300;
    src: url('/fonts/Comfortaa/Comfortaa-Light.ttf');
}

@font-face {
    font-family: 'comforta';
    font-weight: 400;
    src: url('/fonts/Comfortaa/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: 'comforta-medium';
    font-weight: 500;
    src: url('/fonts/Comfortaa/Comfortaa-Medium.ttf');
}

@font-face {
    font-family: 'comforta-bold';
    font-weight: 600;
    src: url('/fonts/Comfortaa/Comfortaa-Bold.ttf');
}

/*
 *
 * Cormorant / Serif
 *
 */

@font-face {
    font-family: 'cormorant-light';
    font-weight: 300;
    src: url('/fonts/Cormorant/CormorantSC-Light.ttf');
}

@font-face {
    font-family: 'cormorant';
    font-weight: 400;
    src: url('/fonts/Cormorant/CormorantSC-Medium.ttf');
}

@font-face {
    font-family: 'cormorant-bold';
    font-weight: 600;
    src: url('/fonts/Cormorant/CormorantSC-Bold.ttf');
}

/*
 *
 * Allura / Curly / Used for brand font only
 *
 */

@font-face {
    font-family: 'allura';
    font-weight: 400;
    src: url('/fonts/Allura/Allura-Regular.ttf');
}
