@mixin flex-around($dir) {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: $dir;
}

@mixin flex-center($dir) {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: $dir;
}

@mixin flex-between($dir) {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: $dir;
}

@mixin flex-column() {
	display: flex;
	flex-direction: column;
}

// scroll bar
@mixin scrollbar() {
	&::-webkit-scrollbar {
		background: $black09;
		width: 8px;
	}

	&::-webkit-scrollbar-thumb {
		background: $white04;
	}
}

// Gradient borders
@mixin border-gradient($gradient) {
	border: 0px solid;
	border-image-slice: 1;
	border-width: 2px;
	border-image-source: $gradient;
}

// Position absolute stretch
@mixin absolute-stretch() {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

// Image standart styles
@mixin image() {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

// admin pages: Cancel image when uploading or from show page
// parent div has to have posrel
@mixin cancel-image-button() {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 30px;
	line-height: 0.7;
	background: transparent;
	color: #830f0f;
	outline: none !important;
	border: none !important;
	transition: color 0.15s;

	&:hover {
		color: white;
		background: rgba(black, 0.35);
	}
}

// admin pages: cta buttons with dashed border
// : next or save button
@mixin cta-dashed() {
	background: transparent;
	outline: none !important;
	border: none;
	//
	width: 100%;
	cursor: pointer;
	color: $grayMain;
	box-shadow: none;
	border: 1px solid $grayMain;
	border-radius: 7px;
	padding: 20px;
	transition: all 0.15s ease-in;

	&:hover {
		background: rgba(black, 0.05);
		color: $blueMain;
		border: 1px dashed $blueMain;
	}

	&:active,
	&:focus {
		background-color: rgba(black, 0.1) !important;
		color: $greenMain !important;
		border: 1px dashed $greenMain !important;
		box-shadow: none !important;
	}
}

// : upload images
@mixin cta-dashed--upload() {
	@include cta-dashed;
	border: 1px dashed $grayMain;
	&:hover {
		color: white;
		border: 1px dashed white;
	}
}

/**
 * Effects
 */

// fill
@mixin fill-effect($color) {
	position: relative;

	&::before {
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: all 0.3s ease-out;
		color: $color;
		width: 0%;
		overflow: hidden;
	}

	&:hover::before {
		width: 100%;
	}
}
