.spinner-wrapper {
	margin-left: 10px;
	margin-top: 3px;
	.spinner {
		width: 20px;
		height: 20px;
		border: 2px solid transparent;
		border-top-color: $blueMain;
		border-bottom-color: $blueMain;
		border-radius: 50%;
		// position: relative;
		animation: loader-rotate 0.6s linear infinite;
		// margin-left: 10px;
	}
	@keyframes loader-rotate {
		0% {
			transform: rotate(0);
		}

		100% {
			transform: rotate(360deg);
		}
	}
}
