@import "./alpha";
@import "./gradients";

// <!--------- Colors ---------->

// main
$accent: #e2af7f;
$accentSecondary: #3f5b61;
// $accent: #c78a48;
$greenMain: #53dd6c;
$blackMain: #272727;
$blueMain: #80bdff;
$grayMain: #999;
$nedoBlack: hsl(0, 0%, 20%);
// $brownMain: #665148;

// other colors
$grayDarker: rgb(117, 117, 117);
$blackSecondary: #141312;
$grayLighter: #eaeaea;
$gitdark: #0d1117;
$sky-blue: #41aae8;
$white: #e3f2fd;
// maybe temp
$goldMain: #f7b900;
$goldSecondary: #f7d801;

// <!--------- Colors ---------->

// trans
$cubic: 0.3s cubic-bezier(0.8, 0.02, 0.16, 0.99);

// z-indexes
$low: 10;
$medium: 100;
$high: 1000;
