// white
$white01: rgba(white, .1);
$white02: rgba(white, .2);
$white03: rgba(white, .3);
$white04: rgba(white, .4);
$white05: rgba(white, .5);
$white06: rgba(white, .6);
$white07: rgba(white, .7);
$white08: rgba(white, .8);
$white09: rgba(white, .9);

// black
$black01: rgba(black, .1);
$black02: rgba(black, .2);
$black03: rgba(black, .3);
$black04: rgba(black, .4);
$black05: rgba(black, .5);
$black06: rgba(black, .6);
$black07: rgba(black, .7);
$black08: rgba(black, .8);
$black09: rgba(black, .9);

//
$material-black: #272727;
$matte-black: #141312;
$licorice-black: #1A1110;
$eerie-black: #1B1B1B;
$black-13: #131313;


// stuff
$cubic: .3s cubic-bezier(.8, .02, .16, .99);

// gold gradients
$gradient-one: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);

$gradient-two: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);

$gradient-one__bubble: radial-gradient(ellipse farthest-corner at right bottom, rgba(#FEDB37, .3) 0%, rgba(#FDB931, .3) 8%, rgba(#9f7928, .3) 30%, rgba(#8A6E2F, .3) 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, rgba(#FFFFFF, .3) 0%, rgba(#FFFFAC, .3) 8%, rgba(#D1B464, .3) 25%, rgba(#5d4a1f, .3) 62.5%, rgba(#5d4a1f, .3) 100%);
