.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $high;
	padding: 20px 40px;

	// desktop
	&__desktop {
		width: 100%;
		ul {
			@include flex-center(row);

			li {
				display: inline-flex;

				&:not(.enough-padding) {
					padding: 15px;
				}

				a {
					display: inline-block;
					padding: 0px 5px;
					position: relative;
					color: white;
					font-family: argesta;
					font-weight: 400;
					font-size: 21px;
					cursor: pointer;

					&:hover {
						&::before,
						&::after {
							opacity: 1;
							transform: translate3d(0, 0, 0);
							transition-timing-function: cubic-bezier(
								0.2,
								0,
								0.3,
								1
							);
						}
					}

					&::before,
					&::after {
						content: "";
						position: absolute;
						height: 1px;
						pointer-events: none;
						transform-origin: 50% 0%;
						transform: translate3d(0, 3px, 0);
						transition-property: transform, opacity;
						transition-duration: 0.3s;
						transition-timing-function: cubic-bezier(
							0.2,
							1,
							0.8,
							1
						);
						background: white;
						opacity: 0;
					}

					&::after {
						top: calc(100% + 7px);
						width: 70%;
						left: 15%;
					}

					&::before {
						top: calc(100% + 3px);
						width: 90%;
						left: 5%;
						transition-delay: 0.1s;
					}

					&:hover,
					&.active {
						span {
							-webkit-transform: translateY(-100%);
							-moz-transform: translateY(-100%);
							transform: translateY(-100%);
						}
					}

					&.active,
					&.active:hover {
						span,
						span::before {
							color: $accent;
						}
					}

					&:focus {
						span,
						span::before {
							color: $white03;
						}
					}
				}

				// cta
				& > button {
					$accent-lighter: lighten($accent, 10%);

					cursor: pointer;
					padding: 7px 10px;
					margin-left: 15px;

					border-radius: 3px !important;
					color: $blackMain;
					font-size: 15px;
					font-weight: 500;
					text-transform: uppercase;
					letter-spacing: 0.9px;
					box-shadow: 0 0 5px 0 rgba($accent-lighter, 0.7);
					transition: all 0.25s ease;

					&:hover {
						background: darken($accent, 5%);
						color: black;
					}
				}
			}
		}
	}
}
