.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: $high;
	padding: 20px 40px;
	// background: linear-gradient(to bottom, $material-black, transparent);

	// desktop
	&__desktop {
		width: 100%;
		ul {
			@include flex-center(row);

			li {
				display: inline-flex;

				&:not(.enough-padding) {
					padding: 15px;
				}

				a {
					display: inline-block;
					overflow: hidden;
					padding: 0px 5px;

					&:hover,
					&.active {
						span {
							-webkit-transform: translateY(-100%);
							-moz-transform: translateY(-100%);
							transform: translateY(-100%);
						}
					}

					&.active:hover {
						color: lighten($cream, 20%);
					}

					&:focus {
						span,
						span::before {
							color: $white03;
						}
					}

					span {
						position: relative;
						display: inline-block;
						-webkit-transition: -webkit-transform 0.3s;
						-moz-transition: -moz-transform 0.3s;
						transition: transform 0.3s;
						color: $white06;
						font-family: sans;
						font-weight: 300;
						font-size: 18px;
						letter-spacing: 0.5px;
						pointer-events: none;

						&::before {
							content: attr(data-text);
							position: absolute;
							top: 100%;
							font-family: sans;
							font-weight: 400;
							color: white;
							-webkit-transform: translate3d(0, 0, 0);
							-moz-transform: translate3d(0, 0, 0);
							transform: translate3d(0, 0, 0);
						}
					}
				}

				// cta
				.desk_cta {
					$cream-lighter: lighten($cream, 10%);

					@include pop-thingy(lighten($cream, 50%));

					cursor: pointer;
					padding: 7px 10px;
					margin-left: 15px;

					// border: 1px solid $cream-lighter;
					border-radius: 3px !important;

					background: transparent;
					// background: $cream-lighter;
					// color: $cream-lighter;
					// color: #111;
					color: $cream-lighter;
					font-size: 15px;
					font-weight: 500;
					text-transform: uppercase;
					letter-spacing: 0.9px;
					transition: all 0.25s ease;
					position: relative;
					overflow: hidden;
					box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);

					&:hover {
						background: $cream-lighter;
						color: black;
					}
				}
			}
		}
	}
}
