@mixin flex-around($dir: row) {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: $dir;
}

@mixin flex-center($dir: row) {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: $dir;
}

@mixin flex-between($dir: row) {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: $dir;
}

@mixin flex-column() {
	display: flex;
	flex-direction: column;
}
