.wrapper.home {
	position: relative;
	background: #101010;
	overflow: hidden;
	// background-image: url("/images/transparent/textures/brilliant.png");

	.section {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100vh;
		// background-image: url('/images/random-dogs/2.jpg');
		// background-repeat: no-repeat;
		// background-size: cover;
		// background-position: center bottom;

		&__inner {
			width: 100%;
			height: 100%;
		}

		// header sec
		&-header {
			&__inner {
				display: flex;
				justify-content: center;
				@include flex-center(column);
			}
		}

		// about sec
		&-about {
			//
		}
	}
}

// social cta
@import './includes/social-cta';

// parallax gallery
@import './includes/grid';

// brand
@import './includes/brand';

// stripes
@import './includes/stripes';

/* Section About */

// about
@import './includes/about';

////////////////
// demo
// @import "./includes/planet";
