.choices {
	&.is-open {
		.choices__inner,
		.choices__list {
			border-color: rgba($gray, 0.3);
		}
	}

	&__inner {
		// background: #1d1d1d;
		background: transparent;
		color: $white07;
		// border: 1px solid rgba($gray, 0.3);
		border: none;
		border-radius: 0;
		padding: 0px;
	}

	&__list {
		&--dropdown {
			border: none !important;
			box-shadow: 0 3px 5px 0 black;
		}
		&--multiple {
			.choices__item {
				font-size: 16px;
				font-weight: 300 !important;
				border: 1px solid $blue;
				border-radius: 5px;
				padding: 3px 5px;

				&--selectable {
					.choices__button {
						padding: 0px 10px;
					}
				}
			}
		}
	}

	&__input {
		display: block;
		width: 100% !important;
		margin-top: 10px;
		padding: 8px 10px;
		font-size: 16px;
		font-weight: 400;
		color: white !important;
		border-radius: 0px !important;
		margin-bottom: 0;

		&:focus {
			border: 1px solid $blue;
		}
	}

	&__item {
		color: #f2f2f2;
		background: $bgSecondary !important;

		&:hover {
			background: #141414 !important;
			font-weight: 400;
			color: white;
		}
	}
}
