.filter-wrapper {
	position: relative;
}

&__filter {
	position: sticky;
	top: 30px;
	display: grid;
	grid-template: min-content / 1fr;
	padding: 25px 35px;
	box-shadow: $bshadow;

	border-radius: $bradius;
	background: $bgSecondary;

	// title
	&--title {
		// typography
		color: $white;
		font-weight: 400;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	// filters
	.filter {
		display: flex;
		flex-direction: column;
		padding: 15px;
		font-size: 18px;

		&:not(:last-child) {
			border-bottom: 1px solid $white03;
		}

		form {
		}

		&__title {
			color: $accentSecondary;
			font-size: 1em;
			margin-bottom: 15px;
		}

		&__item {
			padding-left: 15px;
			margin-bottom: 10px;

			.radio {
				@include radio;
				[type='radio'] {
					&:checked,
					&:not(:checked) {
						& + label {
							&::before,
							&::after {
								top: 4.66px;
								transition: none;
							}
						}
					}
				}
			}

			label {
				font-family: 'system';
				font-weight: 400;
				font-size: 18px;
				color: $white;
			}
		}
	}
}
