input:disabled {
	~ * {
		opacity: 0.3;
		user-select: none;
		pointer-events: none;
	}
}

.checkbox {
	position: relative;
	user-select: none;
	input {
		display: none;
	}
	label {
		position: relative;
		vertical-align: middle;
		cursor: pointer;
		font-weight: 400;
		padding-left: 35px;

		&:not(span.box) {
			color: $gray;
		}
	}
	span.box {
		display: inline-block;
		border-radius: 5px;
		border: 1px solid $gray;
		width: 21px;
		height: 21px;
		vertical-align: middle;
		margin-right: 3px;
		transition: 0.3s ease;
		position: absolute;
		left: 0;
		&:before,
		&:after {
			content: '';
			position: absolute;
			top: calc(100% - 20px);
			width: 3px;
			height: 15px;
			border-radius: 40px;
			background: $blackSecondary;
			transition: all 0.3s ease;
		}
		&:before {
			transform: rotate(45deg) translateY(-5px) translateX(10px) scale(0);
		}
		&:after {
			height: 5px;
			transform: rotate(-45deg) translateY(10px) translateX(-4px) scale(0);
		}
	}
	input:checked {
		+ label {
			&:not(span.box) {
				color: $accent;
			}
			span.box {
				background: $accent;
				border-color: $accent;
				&:before {
					transform: rotate(45deg) translateY(-5px) translateX(10px)
						scale(1);
				}
				&:after {
					height: 8px;
					transform: rotate(-45deg) translateY(10px) translateX(-4px)
						scale(1);
				}
			}
		}
	}
	input:disabled:checked + span.box {
		background: $gray;
		border: $gray;
	}
	input:disabled:checked ~ label {
		&:before,
		&:after {
			background: $blackSecondary;
		}
	}
}
