form {
	@include flex-column;

	.form-item {
		@include flex-column;
		align-items: flex-start;
		width: 100%;
		margin-bottom: 15px;

		$red: #c61218;

		.wire-error {
			width: 100%;
			padding: 5px 10px;
			background: rgba($red, 0.05);

			&__text {
				color: $red;
				font-size: 16px;
				letter-spacing: 0.8px;
				font-weight: 400;
			}
		}
	}

	label {
		font-family: bitter;
		font-weight: 300;
		font-size: 17px;
		margin-bottom: 10px;
		color: $contactAccent;

		span {
			color: red;
			font-weight: 500;
			font-size: 24px;
		}
	}

	input,
	textarea {
		width: 100%;
		padding: 5px 10px;
		outline: none;
		transition: all 0.15s ease-in;
		background: transparent;
		color: $bgSecondary;
		font-weight: 300;
		line-height: 1.5;
		font-family: bitter;
		font-weight: 300;
		font-size: 18px;

		&:focus,
		&:active {
			outline: none;
			border-color: $bgSecondary;
		}
	}

	input {
		border: none;
		outline: none;
		box-shadow: none;
		border-bottom: 1px solid $contactAccent;
		transition: all 0.15s ease-in;
	}

	textarea {
		min-height: 7rem;
		border: 1px solid $contactAccent;
		box-shadow: none;
	}

	button {
		@include flex-center(row);
		@include bg-slide($bgPrimary, white);
		align-self: flex-start;
		margin-top: 15px;
		padding: 10px 10px 7px;
		z-index: $low;
		// typography
		font-family: bitter;
		font-size: 1.2rem;
		font-weight: 400;
		//
		background: transparent;
		border: 1px solid $contactAccent;
		color: $contactAccent;
		line-height: 1.3;
		transition: color 0.3s, border 0.4s;

		.spinner-wrapper {
			margin-top: 0;

			.spinner {
				border-top-color: black;
				border-bottom-color: black;
			}
		}

		&:hover {
			color: black;
			border-color: black;
		}
	}
}
